@import "faq.css";

.about__h2-title {
	color: #000;
	font-size: 30px;
	line-height: 34px;
	font-family: 'Gotham Pro Medium';
}

.about__services {
	padding: 150px 20px 0 20px;
	padding-bottom: 150px;
	background: #F4F8FC;
}

.about__services .main-container {
	padding: 0;
}

.about__services-h2-title {
	max-width: 420px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.about__services-h2-title--blue {
	color: #11B2FE;
}

.about__features {
	margin-bottom: 66px;
}

.about__features .faq__single-column:nth-child(3) {
	margin-right: 0;
}

.about__features .faq__single-column:last-child {
	margin-right: 0;
}

.about__features .faq__double-column-with-rating {
	display: flex;
	justify-content: space-between;
}

.about__features .faq__double-column-right p {
	color: #4AE380;
	font-size: 30px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
}

.about__features .faq__double-column-with-rating .faq__single-column-text {
	max-width: 170px;
	-webkit-line-clamp: initial;
}

.about__features-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.about__services-item {
	border-radius: 4px;
	width: 442px;
	-webkit-box-shadow: 10px 3px 26px -1px rgba(143,146,198,0.2);
	-moz-box-shadow: 10px 3px 26px -1px rgba(143,146,198,0.2);
	box-shadow: 10px 3px 26px -1px rgba(143,146,198,0.2);
}

.about__services-item .about__services-item-btn:hover {
	background: #009ce5;
	border-color: #009ce5;
	color: #fff;
}

.about__services-item .about__services-item-btn:active {
	background: #008dff;
	border-color: #008dff;
	color: #fff;
}

.about__services-item_active .about__services-item-btn:hover {
	background: #11B2FE;
	border-color: #fff;
	color: #fff;
}

.about__services-item:nth-child(1) .about__services-item-top:before {
	content: url(../img/headphones-grey.png);
	position: absolute;
	top: -23px;
	right: 32px;
}
.about__services-item:nth-child(2) .about__services-item-top:before {
	content: url(../img/blue-guitar.png);
	position: absolute;
	top: -23px;
	right: 32px;
}

.about__services-items-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.about__services-item-top {
	position: relative;
	background: #d7e2f3;
	padding: 75px 40px 40px 40px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.about__services-item-bottom {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.about__services-item-bottom {
	padding: 55px 65px 25px 65px;
	background: #fff;
}

.about__services-item-title {
	font-size: 24px;
	line-height: 26px;
	font-family: 'Gotham Pro Bold';
	color: #fff;
	margin-bottom: 10px;
}

.about__services-item-deskrip {
	font-size: 13px;
	line-height: 12px;
	font-family: 'Gotham Pro Medium';
	color: #fff;
	text-transform: uppercase;
}

.about__services-item-features-wrapper {
	margin-bottom: 55px;
}

.about__services-item-btn {
	color: #C1D0E7;
	width: 100%;
	padding: 16px 0;
	border-radius: 9px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Gotham Pro Bold';
	border: 2px solid #C1D0E7;
	display: flex;
	justify-content: center;
}

.about__services-item-feature  {
	margin-bottom: 20px;
	color: #829cc2;
	font-size: 16px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';

}
.about__services-item-feature .fa-check {
	margin-right: 20px;
	color:#829CC2;
	opacity: .3;
}
.about__services-item-label {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 13px;
	font-family: 'Gotham Pro Bold';
	color: #11B2FE;
	padding: 7px;
	border-radius: 4px;
	background: #fff;
	display: inline-block;
	margin-bottom: 55px;
}

/* ACTIVE BLUE ITEM */
.about__services-item_active {
	width: 480px;
	-webkit-box-shadow: 1px -1px 19px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px -1px 19px -5px rgba(0,0,0,0.75);
	box-shadow: 1px -1px 19px -5px rgba(0,0,0,0.75);
}
.about__services-item_active .about__services-item-top {
	background: #009dec;
}

.about__services-item_active .about__services-item-bottom {
	background:#11B2FE;
}

.about__services-item_active .about__services-item-btn {
	background: #fff;
	color: #11B2FE;
	border: 2px solid #fff;
}

.about__services-item_active .about__services-item-feature {
	color: #fff;
}

.about__services-item_active .about__services-item-feature .fa-check {
	color: #fff;
	opacity: .5;
}

.about__services-item_active .about__services-item-deskrip {
	opacity: .65;
}

.about__services-item_active .about__services-item-top {
	padding: 40px 40px 40px 40px;
}

.about__services-item_active .about__services-item-bottom {
	padding: 55px 75px 50px 75px;
}

/* end of active blue item */


.about__contact {
	background: #009DEC;
	width: 100%;
	padding: 68px 0 75px 0;
}

.about__contact .main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about__contact-left {

}
.about__contact-title {
	font-family: 'Gotham Pro Bold';
	font-size: 41px;
	line-height: 40px;
	margin-bottom: 30px;
	color: #fff;
}
.about__contact-text {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 50px;
	max-width: 550px;
	color: #fff;
}
.about__form {

} 
.about__form input {
	border-radius: 4px;
}

.about__contact-email {
	
}

#about__contact-submit-btn {
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	font-family: 'Gotham Pro Bold';
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1px;
	padding: 17px 39px;
}

#about__contact-submit-btn:hover {
	background: #fff;
	color: #009DEC;
}

#about__contact-email {
	box-sizing: border-box;
	width: 260px;
	background: #fff;
	border: 2px solid #fff;
	margin-right: 10px;
	padding: 17px 20px;
}

#about__contact-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

#about__contact-email::-moz-placeholder { /* Firefox 19+ */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

#about__contact-email:-ms-input-placeholder { /* IE 10+ */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

#about__contact-email:-moz-placeholder { /* Firefox 18- */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

.about__quote {
	background: #F4F8FC;
	border-radius: 4px;
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 26px;
	color: #000;
	padding: 40px;
}
.about__blue-text {
	color: #009CE5;
}

.about__info-h2-title {
	font-family: 'Gotham Pro Bold';
	font-size: 30px;
	line-height: 38px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.about__start-project .red-btn {
	min-width: 193px;
	height: 42px;
	max-height: 42px;
}

.about__start-project-text {
	font-family: 'Gotham Pro Regular';
	font-size: 18px;
	line-height: 26px;
	margin-right: 40px;
	padding-top: 15px;
}

.about__start-project {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.about__info .about__quote {
	margin-bottom: 60px;
}

.about__info .main-container {
	padding: 0;
}

.about__history {
	font-family: 'Gotham Pro Medium';
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 130px;
}

.about__advantages-item:nth-child(1) {
	background: #fff url(../img/guarantee-icon-black.png) no-repeat top 30px left 30px;
}	

.about__advantages-item:nth-child(2) {
	background: #fff url(../img/percentage-icon-black.png) no-repeat top 30px left 30px;
}	

.about__advantages-item:nth-child(3) {
	background: #fff url(../img/recycle-icon-black.png) no-repeat top 30px left 30px;
}	

.about__advantages-item {
	margin-top: -66px;
	width: calc((100% - 44px)/3);
	padding: 100px 30px 30px 30px;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0px 9px 23px 3px rgba(143,146,198,0.25);
	-moz-box-shadow: 0px 9px 23px 3px rgba(143,146,198,0.25);
	box-shadow: 0px 9px 23px 3px rgba(143,146,198,0.25);
}

.about__advantages-item-title {
	text-transform: uppercase;
	font-family: 'Gotham Pro Bold';
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}

.about__advantages-item-text {
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 20px;
	color: #9BA5B5;
}

.about__advantages {
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;
}

.about__promise-h2-title {
	font-family: 'Gotham Pro Bold';
	font-size: 30px;
	line-height: 59px;
	margin-bottom: 30px;
}

.about__promise-text {
	font-family: 'Gotham Pro Medium';
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 40px;
}

.about__promise .about__quote {
	margin-bottom: 140px;
}

.about__advantages-and-promise {

	/* background: linear-gradient(#F4F8FC, #fff); */
	background: linear-gradient(#F4F8FC, #fff);

}
.about__history-mob {
	display: none;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 50px;
}