@import "faq.css";

.about__h2-title {
	color: #000;
	font-size: 30px;
	line-height: 34px;
	font-family: 'Gotham Pro Medium';
}

.about__services {
	padding: 90px 20px 0 20px;
	padding-bottom: 120px;
	background: #F4F8FC;
}

.about__services .main-container {
	padding: 0;
}

.about__services-h2-title {
	max-width: 420px;
	text-transform: uppercase;
	margin-bottom: 56px;
}

.about__services-h2-title--blue {
	color: #11B2FE;
}

.about__features {
	margin-bottom: 80px;
}

.about__features .faq__single-column {
	min-height: 250px;
}

.about__features .faq__single-column-title {
	font-family: 'Gotham Pro Medium';
}

.about__features .faq__single-column-texts-wrapper {
	top: 80px;
}

.about__features .faq__single-column-texts-wrapper .faq__single-column-title {
	margin-bottom: 16px;
}

.about__features .faq__single-column-text {
	font-size: 14px;
	line-height: 22px;
}

.about__features .faq__single-column:nth-child(3) {
	margin-right: 0;
}

.about__features .faq__single-column:last-child {
	margin-right: 0;
}

.about__features .faq__double-column-with-rating {
	display: flex;
	justify-content: space-between;
}

.about__features .faq__double-column-right {
	display: none;
}

.about__features .faq__double-column-right p {
	color: #4AE380;
	font-size: 30px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
}

.about__features .faq__double-column-with-rating .faq__single-column-text {
	-webkit-line-clamp: initial;
}

.about__features-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.about__features-wrapper .faq__single-column:nth-child(1) .faq__single-column-text,
.about__features-wrapper .faq__single-column:nth-child(4) .faq__single-column-text,
.about__features-wrapper .faq__single-column:nth-child(5) .faq__single-column-text {
	-webkit-line-clamp: initial;
	max-width: 350px;
}

.about__services-item {
	border-radius: 4px;
	width: 442px;
	/* -webkit-box-shadow: 10px 3px 26px -1px rgba(143,146,198,0.2);
	-moz-box-shadow: 10px 3px 26px -1px rgba(143,146,198,0.2);
	box-shadow: 10px 3px 26px -1px rgba(143,146,198,0.2); */
}

.about__services-item .about__services-item-btn:hover {
	background: #009ce5;
	border-color: #009ce5;
	color: #fff;
}

.about__services-item .about__services-item-btn:active {
	background: #008dff;
	border-color: #008dff;
	color: #fff;
}

.about__services-item_active .about__services-item-btn:hover {
	background: #11B2FE;
	border-color: #fff;
	color: #fff;
}

.about__services-item:nth-child(1) .about__services-item-img {
	position: absolute;
	top: 29px;
	right: -20px;
	width: 207px;
}
.about__services-item:nth-child(2) .about__services-item-img {
	position: absolute;
	top: -26px;
	right: -38px;
	width: 223px;
}

.about__services-items-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.about__services-item-top {
	position: relative;
	background: #d7e2f3;
	padding: 75px 40px 40px 40px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.about__services-item-bottom {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 55px 69px 40px 69px;
	background: #fff;
}

.about__services-item-title {
	font-size: 24px;
	line-height: 26px;
	font-family: 'Gotham Pro Bold';
	color: #fff;
	margin-bottom: 10px;
}

.about__services-item-deskrip {
	font-size: 13px;
	line-height: 12px;
	font-family: 'Gotham Pro Medium';
	color: #fff;
	text-transform: uppercase;
}

.about__services-item:nth-child(1) .about__services-item-features-wrapper {
	margin-bottom: 32px;
}

.about__services-item:nth-child(2) .about__services-item-features-wrapper {
	margin-bottom: 55px;
}

.about__services-item-btn {
	color: #C1D0E7;
	width: 100%;
	padding: 12px 0;
	border-radius: 9px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Gotham Pro Bold';
	border: 2px solid #C1D0E7;
	display: flex;
	justify-content: center;
}

.about__services-item:nth-child(2) .about__services-item-btn {
	padding: 16px 0;
}

.about__services-item:nth-child(1) .about__services-item-feature  {
	letter-spacing: -0.5px;
	margin-bottom: 13px;
	color: #829cc2;
	font-size: 16px;
	line-height: 32px;
	font-family: 'Gotham Pro Medium';
	padding-left: 33px;
	background: url(../img/grey-checkmark.svg) left center no-repeat;
}

.about__services-item:nth-child(2) .about__services-item-feature  {
	background: url(../img/blue-checkmark.svg) no-repeat;
	padding-left: 29px;
	background-position: -26px 10px;
	letter-spacing: -0.5px;
}

.about__services-item-feature .fa-check {
	margin-right: 20px;
	color:#829CC2;
	opacity: .3;
}

.about__services-item-label {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 13px;
	font-family: 'Gotham Pro Bold';
	color: #11B2FE;
	padding: 6px;
	border-radius: 4px;
	background: #fff;
	display: inline-block;
	margin-bottom: 50px;
}

/* ACTIVE BLUE ITEM */
.about__services-item_active {
	width: 480px;
	-webkit-box-shadow: 1px 30px 24px -2px rgba(0,0,0,0.16);
	-moz-box-shadow: 1px 30px 24px -2px rgba(0,0,0,0.16);
	box-shadow: 1px 30px 24px -2px rgba(0,0,0,0.16);
}

.about__services-item_active .about__services-item-top {
	background: #009dec;
	padding: 40px 40px 40px 40px;
}

.about__services-item_active .about__services-item-bottom {
	background:#11B2FE;
	padding: 52px 75px 50px 75px;
}

.about__services-item_active .about__services-item-btn {
	background: #fff;
	color: #11B2FE;
	border: 2px solid #fff;
}

.about__services-item_active .about__services-item-feature {
	color: #fff;
	margin-bottom: 13px;
	font-size: 18px;
	line-height: 32px;
	font-family: 'Gotham Pro Medium';
}

.about__services-item_active .about__services-item-feature .fa-check {
	color: #fff;
	opacity: .5;
}

.about__services-item_active .about__services-item-deskrip {
	opacity: .65;
}

/* end of active blue item */

.about__contact {
	background: #009DEC;
	width: 100%;
	padding: 68px 20px 75px 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-sizing: border-box;
}

.about__contact .main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 !important;
}

.about__contact-title {
	font-family: 'Gotham Pro Bold';
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 23px;
	color: #fff;
	text-transform: uppercase;
}

.about__contact-text {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
	max-width: 470px;
	color: #fff;
}

.about__form input {
	border-radius: 4px;
}

.about__contact-submit-btn {
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	font-family: 'Gotham Pro Bold';
	font-size: 14px;
	line-height: 13px;
	letter-spacing: 1.2px;
	padding: 17px 32px;
}

.about__contact-submit-btn:hover {
	background: #fff;
	color: #009DEC;
}

.about__contact-email {
	box-sizing: border-box;
	width: 260px;
	background: #fff;
	border: 2px solid #fff;
	margin-right: 5px;
	padding: 15px 22px;
}

.about__contact-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

.about__contact-email::-moz-placeholder { /* Firefox 19+ */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

.about__contact-email:-ms-input-placeholder { /* IE 10+ */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

.about__contact-email:-moz-placeholder { /* Firefox 18- */
	color:#99B3D9;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
}

.about__quote {
	background: #F4F8FC;
	border-radius: 4px;
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 26px;
	color: #000;
	padding: 40px;
}

.about__blue-text {
	color: #009CE5;
}

.about__info-h2-title {
	font-family: 'Gotham Pro Bold';
	font-size: 30px;
	line-height: 38px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 11px;
	max-width: 700px;
}

.about__start-project .red-btn {
	min-width: 193px;
	height: 42px;
	max-height: 42px;
}

.about__start-project-text {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 26px;
	margin-right: 40px;
}

.about__start-project {
	display: flex;
	justify-content: space-between;
	margin-bottom: 39px;
	align-items: center;
}

.about__info {
	padding: 0 20px;
}

.about__info .main-container {
	padding: 0 !important;
}

.about__info .about__quote {
	margin-bottom: 60px;
}

.about__info .main-container {
	padding: 0;
}

.about__history {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 130px;
}

.about__advantages-item:nth-child(1) {
	background: #fff url(../img/guarantee-black.svg) no-repeat top 30px left 30px;
}	

.about__advantages-item:nth-child(2) {
	background: #fff url(../img/discount-black.svg) no-repeat top 30px left 30px;
}	

.about__advantages-item:nth-child(3) {
	background: #fff url(../img/choice-black.svg) no-repeat top 30px left 30px;
}	

.about__advantages {
	display: flex;
	justify-content: space-between;
	margin-bottom: 119px;
}

.about__advantages-item {
	margin-top: -66px;
	width: calc((100% - 44px)/3);
	padding: 100px 30px 40px 30px;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0px 9px 23px 3px rgba(143,146,198,0.25);
	-moz-box-shadow: 0px 9px 23px 3px rgba(143,146,198,0.25);
	box-shadow: 0px 9px 23px 3px rgba(143,146,198,0.25);
}

.about__advantages-item-title {
	text-transform: uppercase;
	font-family: 'Gotham Pro Bold';
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
	letter-spacing: -0.3px;
}

.about__advantages-item-text {
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 22px;
	color: #9BA5B5;
}

.about__promise-h2-title {
	font-family: 'Gotham Pro Bold';
	font-size: 30px;
	line-height: 59px;
	margin-bottom: 20px;
}

.about__promise-text {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
	max-width: 700px;
}

.about__promise .about__quote {
	margin-bottom: 120px;
}

.about__advantages-and-promise {
	background: linear-gradient(#F4F8FC, #fff);
}

.about__history-mob {
	display: none;
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 50px;
}

.about__founder {
	margin-bottom: 90px;
}

.about__founder-wrapper {
	background: #00a0f2;
}

.about__founder-top {
	padding: 50px 60px 60px 60px;
	display: flex;
	justify-content: space-between;
}

.about__founder-top-right {
	padding-top: 16px;
}

.about__founder-name {
	font-family: 'Gotham Pro Bold';
	font-size: 40px;
	line-height: 40px;
	color: #fff;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.about__founder-top-left {
	max-width: 360px;
}

.about__founder-position {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	margin-bottom: 40px;
	opacity: .66;
}

.about__founder-text {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}

.about__founder-text p:not(:last-child) {
	margin-bottom: 50px;
}

.about__founder-img {
	position: relative;
	right: 100px;
}

.about__founder-bottom {
	padding: 55px 60px 50px 60px;
	background: #f4f8fc;	
}

.about__founder-bottom-info {
	font-family: 'Gotham Pro Regular';
	font-size: 18px;
	line-height: 28px;
	color: #000;
	max-width: 450px;
}

.about__founder-bottom-more {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.about__founder-more-text {
	font-family: 'Gotham Pro Regular';
	font-size: 16px;
	line-height: 18px;
	color: #949494;
}

.about__founder-more-btn {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Gotham Pro Bold';
	padding: 14px 52px;
	background: #009CE5;
	border-radius: 4px;
	display: inline-block;
	border: 2px solid #009CE5;
}

.about__founder-img-mob {
	display: none;
}

.about__founder-more-btn:hover {
	border-color: #009ce5;
	background: #fff;
	color: #00b6ff;
}

.about__founder-more-btn:active {
	background-color: #008bff;
	border-color: #008bff;
	color: #fff;
}

.about__banner {
	overflow: hidden;
	width: 100%;
	background: #F3E6D7;
	padding: 58px 20px 72px 20px;
	box-sizing: border-box;
}

.about__banner .main-container {
	display: flex;
	justify-content: space-between;
	padding: 0 !important;
}

.about__banner-btn {
	max-width: 200px;
	padding: 17px;
	box-sizing: border-box
}

.about__banner-title {
	font-family: 'Gotham Pro Bold';
	color: #000;
	font-size: 34px;
	line-height: 39px;
	text-transform: uppercase;
	margin-bottom: 14px;
	max-width: 440px;
}

.about__banner-title--red {
	color: #FF6953;
}

.about__banner-text {
	font-family: 'Gotham Pro Regular';
	font-size: 18px;
	line-height: 32px;
	color: #000;
	margin-bottom: 24px;
	max-width: 370px;
}

.about__banner-right-img {
	position: relative;
	right: -59px;
	top: 13px;
}

.about__banner-left {
	padding-top: 53px;
}

.about__image-section {
	margin-bottom: 80px;
}

.about__image-section img {
	width: 100%;
}

.about__image-section--mob {
	display: none;
}

