@import "header.css";
@import "footer.css";
@import "products-section.css";
@import "how-it-works-section.css";
@import "integrate-with-section.css";
@import "print-custom-section.css";
@import "testimonials-section.css";

.comparison__table-desk {
	margin: 100px 0;
	width: 100%;
	
}

.comparison__table-desk tr td:nth-child(1) {
	width: 30%;
}

.comparison__table-desk tr td:nth-child(2),
.comparison__table-desk tr td:nth-child(3) {
	width: 35%;
}

.comparison__table-desk td {
	vertical-align: middle;
	padding: 22px 0;
}

.comparison__table-desk th {
	font-family: 'Gotham Pro Medium';
	color: #000;
	font-size: 20px;
	line-height: 19px;
	padding: 30px 0;
	text-align: center;
}

.comparison__option-tooltip-icon {
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 100%;
	border: 1px solid #CACDD4;
	color: #CACDD4;
	width: 20px;
	min-width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: 'Gotham Pro Bold';
}

.comparison__option-tooltip-icon:hover {
	background: #CACDD4;
	color: #fff;
}

.comparison__option-tooltip-icon:hover + .comparison__option-tooltip {
	display: block;
}

.comparison__option-tooltip-icon_active {
	background: #CACDD4;
	color: #fff;
	border-color: #CACDD4;
}

.comparison__table-desk td:nth-child(2),
.comparison__table-desk td:nth-child(3) {
	text-align: center;
}

.comparison__table-desk tr:not(:last-child):not(:first-child),
.comparison__table-desk th {
	border-bottom: 2px solid #E8EAF2;
}

.comparison__table-desk tr td:not(:last-child),
.comparison__table-desk tr th:not(:last-child) {
	border-right: 2px solid #E8EAF2;
}

.comparison__table-green-text {
	font-family: 'Gotham Pro Bold';
	color: #76D584;
	font-size: 14px;
	line-height: 13px;
	text-decoration: underline;
}

.comparison__table-red-text {
	font-family: 'Gotham Pro Bold';
	color: #F95057;
	font-size: 14px;
	line-height: 13px;
	text-decoration: underline;
}

.comparison__option-text {
	font-family: 'Gotham Pro Medium';
	color: #000;
	font-size: 13px;
	line-height: 16px;
}

.comparison__option {
	position: relative;
}

.comparison__option-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comparison__option-tooltip {
	display: none;
	position: absolute;
	max-width: 310px;
	-webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31);
	-moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31);
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31);
	z-index: 2;
	right: -276px;
	top: 53px;
	background: #fff;
	border-radius: 11px;
	padding: 20px;
	font-family: 'Gotham Pro Medium';
	color: #92A5BB;
	font-size: 12px;
	line-height: 16px;
}

.comparison__option-tooltip p:not(:last-of-type) {
	margin-bottom: 22px;
}

.comparison__cross-icon,
.comparison__checkmark-icon {
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.comparison__cross-icon {
	background: #E65D5D;
	font-size: 11px;
}

.comparison__checkmark-icon {
	background:#76D584;
	font-size: 11px;
}

.comparison__cross-icon .fas {
	position: relative;
	bottom: 1px;
}

.comparison__checkmark-icon .fas {
	position: relative;
	top: -1px;
}

.comparison__option-description {
	font-family: 'Gotham Pro Bold';
	color: #92A5BB;
	font-size: 12px;
	line-height: 16px;
	padding: 0 10px;
}

.comparison__option-values-wrapper {
	display: flex;
	margin-bottom: 20px;
}

.comparison__option-value {
	width: 50%;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.comparison__table-mob .comparison__option-text {
	padding: 15px 36px;
	border-top: 1px solid #BBBEC7;
	text-align: center;
	position: relative;
}


.comparison__table-mob .comparison__option-tooltip-icon {
	position: absolute;
	right: 0;
	top: 12px;
	bottom: initial;
	margin: 0;
}

.comparison__option-value:nth-child(1) {
	border-right: 1px solid #BBBEC7;
}

.comparison__table-mob-title {
	font-family: 'Gotham Pro Medium';
	color: #000;
	opacity: 0.3;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
}

.comparison__table-mob-title--red {
	color: #FF4B3B;
	opacity: 1;
}

.comparison__table-mob {
	display: none;
}

.comparison__table-mob .comparison__option-description {
	padding: 0;
	text-align: center;
}

.comparison__table-mob .comparison__option-tooltip {
	right: 0;
	left: 0;
	margin: auto;
	top: 50px
}

.comparison__faq {
	background: #F3F8FC;
	padding-top: 110px;
	padding-bottom: 95px;
}

.comparison__faq-item {
	margin-bottom: 60px;
}

.comparison__faq-question {
	font-family: 'Gotham Pro Medium';
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}

.comparison__faq-answer {
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 20px;
	color: #797979;
}


.comparison__faq-answer a {
	color:#0080FF;
	text-decoration: underline;
}

.comparison__faq-answer p:not(:last-child) {
	margin-bottom: 30px;
}

.comparison__faq-container {
	max-width: 710px;
	margin: auto;
}

.comparison__table-section h2 {
	font-family: 'Gotham Pro Bold';
	font-size: 30px;
	line-height: 34px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	max-width: 760px;
	margin: auto;
	margin-bottom: 15px;
}

.comparison__table-description {
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 20px;
	color: #000;
	text-align: center;
	margin: auto;
	max-width: 700px;
	margin-bottom: 100px;
}

.comparison__table-title-red {
	color: #FF5C48;
}

.comparison__table-title-grey {
	color: #A6A6A6;
}

.comparison__tooltip-close {
	position: absolute;
	width: 29px;
	height: 29px;
	background: #CACDD4;
	border-radius: 100%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	top: -13px;
	right: -14px;
	font-size: 15px;
}

.comparison__info {
	margin-bottom: 150px;
}

.comparison__info .main-container {
	display: flex;
	justify-content: space-between;
}

.comparison__info-item {
	width: calc((100% - 20px)/2);
}

.comparison__info-item-top {
	background: #F4F8FC;
	padding: 50px;
	height: 272px;
}

.comparison__info-item-title {
	font-family: 'Gotham Pro Medium';
	font-size: 30px;
	line-height: 52px;
	color: #000;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.comparison__info-item-text {
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 20px;
	color: #000;
	opacity: .5;
}

.comparison__info-item-bottom {
	background: #F4F8FC;
	padding: 0 4px 4px 4px;
}

.comparison__info-item-descrip {
	background: #fff;
	padding: 40px 46px;
	font-family: 'Gotham Pro Medium';
	font-size: 14px;
	line-height: 20px;
	color: #000;
}

.comparison__banner {
	padding: 135px 115px;
	background: #F3F8FC;
	margin-bottom: 70px;
}

.comparison__banner-social {
	display: none;
}

.comparison__banner-title {
	font-family: 'Gotham Pro Bold';
	font-size: 34px;
	line-height: 36px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.comparison__banner-title-red {
	color:#FF5C48;
}

.comparison__banner-text {
	font-family: 'Gotham Pro Regular';
	font-size: 18px;
	line-height: 26px;
	color: #000;
	margin-bottom: 60px;
	max-width: 380px;
}