@import "header.css";
@import "footer.css";
@import "products-section.css";
@import "how-it-works-section.css";
@import "integrate-with-section.css";
@import "print-custom-section.css";
@import "testimonials-section.css";

.fulfillment-banner {
	margin: 0 23px 117px 23px;
}

.fulfillment-banner__title-mob {
	display: none;
}

.fulfillment-banner__left {
	width: 50%;
}

.fulfillment-banner__right {
	position: relative;
}

.fulfillment-banner-img__desktop {
	position: absolute;
	left: calc(50% + 100px);
	bottom: 90px;
}

.fulfillment-banner-img__mob {
	display: none;
	position: relative;
	padding-bottom: 37px;
}

.fulfillment-banner-img__mob img:nth-child(2){
	position: absolute;
	left: 36px;
	top: 119px;
}

.fulfillment-banner-img__desktop img:nth-child(2) {
	position: absolute;
	left: 74px;
	bottom: -180px;
}

.fulfillment-banner__title {
	font-size: 50px;
	line-height: 56px;
	margin-bottom: 16px;
}

.fulfillment-banner__text {
	max-width: 485px;
	margin-bottom: 35px;
}

.fulfillment-banner__label {
	margin-bottom: 24px;
}

.fulfillment-banner__wrapper {
	max-width: 980px;
	padding: 75px 0 86px;
	margin: auto;
}

.fulfillment__how {
	margin-bottom: 150px;
	padding: 0 30px;
}

.fulfillment__how-wrapper {
	max-width: 980px;
	margin: auto;
}

.fulfillment__how-items-wrapper {
	display: flex;
	justify-content: space-between;
}

.fulfillment__how-item {
	width: calc((100% - 40px)/3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 60px 30px 60px 30px;
	background: #F3F5FC;
	border-radius: 27px;
}

.fulfillment__how-item:nth-child(3) .fulfillment__how-item-img {
	width: 245px;
}

.fulfillment__how-text {
	max-width: 650px;
	margin: auto;
	margin-bottom: 60px;
	text-align: center;
}

.fulfillment__how-img-wrapper {
	margin-bottom: 35px;
}

.fulfillment__how-item-img {
	width: 235px;
	max-width: 100%;
}

.fulfillment__how-item-text {
	font-size: 18px;
	line-height: 22px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	text-align: center;
	max-width: 220px;
}

.fulfillment__pricing {
	padding: 0 20px;
}

.fulfillment__pricing-wrapper {
	max-width: 980px;
	margin: auto;
}

.fulfillment__pricing-wrapper .h2__title {
	margin-bottom: 50px;
}

.fulfillment__warehousing {
	margin-bottom: 125px;
}

.fulfillment__warehousing .h3__title {
	margin-bottom: 40px;
}

.fulfillment__row {
	display: flex;
	justify-content: space-between;
}


.fulfillment__column {
	color: #000;
	width: calc((100% - 130px)/3);
}

.fulfillment__item-title {
	font-size: 18px;
	font-family: 'Gotham Pro Medium';
	margin-bottom: 30px;
}

.fulfillment__item-text {
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Regular';
}
.fulfillment__advantages {
	margin-bottom: 100px;
}

.fulfillment__advantages-wrapper {
	max-width: 980px;
	margin: auto;
}
.fulfillment__advantages .fulfillment__row:not(:last-child) {
	margin-bottom: 40px;
}

.fulfillment__how .h2__title {
	margin-bottom: 40px;
}

.fulfillment__partner {
	margin-bottom: 145px;
}

.fulfillment__partner-wrapper {
	max-width: 980px;
	margin: auto;
}
.fulfillment__partner .h2__title {
	margin-bottom: 60px;
}

.fulfillment__advantages .h2__title-mob {
	display: none;
}

.fulfillment__advantages .h2__title-desk {
	margin-bottom: 70px;
}

.fulfillment__shipping {
	margin-bottom: 122px;
}

.fulfillment__shipping .h3__title {
	margin-bottom: 20px;
}

.fulfillment__shipping-text {
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Regular';
	color: #000;
	max-width: 650px;
	text-align: center;
	margin: auto;
	margin-bottom: 36px;
}


.shipping-table__desk-wrapper {
	width: 100%;
	border-radius: 16px;
	background: #F3F5FC;
	padding: 20px 45px 20px 70px ;
}

.shipping-table__desk {
	width: 100%;
}

.shipping-table__desk th {
	font-size: 14px;
	line-height: 16px;
	font-family: 'Gotham Pro Medium';
	color: #BBC1D2;
	padding: 20px 0 25px 0;
}

.shipping-table__desk th:not(:last-child) {
	border-right: 2px solid #E8EAF2;
}

.shipping-table__desk tr:not(:last-child):not(:first-child){
	border-bottom: 2px solid #E8EAF2;
}

.shipping-table__desk th:first-child {
	text-align: left;
}

.shipping-table__desk tr td:nth-child(1) {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	padding: 25px 0 25px 3px;
}

.shipping-table__desk tr td:not(:last-child) {
	border-right: 2px solid #E8EAF2;
}

.shipping-table__desk tr td:nth-child(2),
.shipping-table__desk tr td:nth-child(3) {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #6B96ED;
	text-align: center;
	padding: 25px;
}

.shipping__mob-wrapper {
	display: none;
}

.shipping__mob {
	padding: 30px 0;
	width: 100%;
	border-radius: 16px;
	background: #F3F5FC;
}

.shipping__mob-prod-name {
	margin-bottom: 15px;
	padding: 0 20px;
	color: #000;
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
}

.shipping__mob-price-wrapper {
	padding: 0 20px;
	display: flex;
}

.shipping__mob-price-wrapper div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.shipping__mob-price-wrapper div:nth-child(1){
	width: 50%;
	padding-right: 10px;
}

.shipping__mob-price-wrapper div:nth-child(2){
	width: 50%;
}

.shipping__mob-price {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #6B96ED;
}

.shipping__mob-item {
	padding: 30px 0;
	border-bottom: 2px solid #E8EAF2;
}

.shipping__mob-item:last-child {
	padding: 30px 0 0 0;
	border-bottom: none;
}

.shipping__mob-title {
	font-size: 14px;
	line-height: 16px;
	font-family: 'Gotham Pro Medium';
	color: #BBC1D2;
	padding: 0 20px;
}

.shipping__mob-prod-type {
	font-size: 10px;
	line-height: 16px;
	font-family: 'Gotham Pro Medium';
	color:#BBC1D2;
	margin-bottom: 5px;
}

.fulfillment__locations .h2__title {
	padding: 0 20px;
}

.fulfillment__locations-img {
	max-height: 700px;
	width: auto;
	margin: auto;
	display: table;
	max-width: 100%;
}

.fulfillment__locations-wrapper {
	max-width: 980px;
	margin: auto;
	margin-bottom: 130px;
	padding: 0 20px;

}

.fulfillment_all-locations {
	/* padding-top: 500px; */
}

.fulfillment_locations-block:nth-child(1) {
	margin-bottom: 30px;
}

.fulfillment_locations-block-title {
	font-size: 18px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	margin-bottom: 28px;
}

.fulfillment_locations-block-outer {
	display: flex;
	flex-wrap: wrap;
}

.fulfillment_locations-block-outer:not(:last-child) {
	margin-bottom: 40px;
}

.fulfillment_one-location {
	border-radius: 11px;
	background: #6B96ED;
	background:#F3F5FC;
	padding: 16px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	width: 170px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}

.fulfillment_one-location:hover {
	background: #6B96ED;
	color: #fff;
}

.fulfillment_one-location:active{
	background-color: #5888ea;
	border-color: #5888ea;
	color: #fff;
}

.fulfillment_one-location .fa-map-marker-alt {
	color: #FF6953;
	position: absolute;
	top: -9px;
	font-size: 22px;
}

.fulfillment__pricing__btn {
	border-radius: 10px;
	border: 3px solid #6B96ED;
	color:#6B96ED;
	width: 100%;
	font-family: 'Gotham Pro Bold';
	text-transform: uppercase;
	width: 100%;
	padding: 15px 0;
	box-sizing: border-box;
	font-size: 16px;
}

.fulfillment__pricing__btn:hover {
	background: #6B96ED;
	color: #fff;
}

.fulfillment__pricing__btn:active{
	background: #5888ea;
	border-color: #5888ea;
	color: #fff;
}

.fulfillment_warehousing-wrapper {
	display: flex;
	height: 397px;
	background: #F3F5FC;
	border-radius: 16px;
	/* padding-top: 20px; */
	display: flex;
}

.fulfillment__pricing-item {
	width: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 65px 18px 25px 18px;
	cursor: pointer;
	position: relative;
	align-items: center;
}

.fulfillment__pricing-item__units-number {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	margin-bottom: 10px;
}

.fulfillment__pricing-item_active .fulfillment__pricing-item__units-number {
	color: #6B96ED;
}

.fulfillment__pricing-item_active .fulfillment__pricing-item__price {
	color: #6B96ED;
}

.fulfillment__pricing-item__units-text {
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Regular';
	color: #000;
	opacity: .4;
	margin-bottom: 56px;
}

.fulfillment__pricing-item-dollar {
	font-size: 22px;
	
}

.fulfillment__pricing-item__price {
	font-size: 42px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #000;
	margin-bottom: 29px;
}

.fulfillment__pricing-item__descrip {
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Regular';
	color: #000;
	opacity: .4;
	margin-bottom: 48px;
	max-width: 200px;
}
.fulfillment__pricing-item_active {
	padding: 40px 18px 25px 18px;
	position: relative;
	top: 25px;
	background: #fff;
	border-radius: 16px;
	-webkit-box-shadow: -1px 4px 25px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: -1px 4px 25px 0px rgba(0,0,0,0.10);
	box-shadow: -1px 4px 25px 0px rgba(0,0,0,0.10);
	height: calc(100% - 12px);
}

.fulfillment__pricing-item_active .fulfillment__pricing__btn {
	background: #FF6953;
	color: #fff;
	border: 3px solid #FF6953;
}

.fulfillment__pricing-item_active .fulfillment__pricing__btn:hover {
	background-color: #ff4b1f;
	border-color: #ff4b1f;
}

.fulfillment__pricing-item_active .fulfillment__pricing__btn:active {
	background-color: #ff9b82;
	border-color: #ff9b82;
}

.fulfillment_warehousing-wrapper .fulfillment__pricing-item:not(:last-child):not(.fulfillment__pricing-item_active):after,
.fulfillment__info-wrapper .fulfillment__pricing-item:not(:last-child):not(.fulfillment__pricing-item_active):after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 44px;
	width: 3px;
	background: #E8EAF2;
	height: calc(100% - 88px);
}

.fulfillment__pricing-item--no-border:after {
	display: none !important;
}

.fulfillment__info-wrapper {
	display: flex;
	background: #F3F5FC;
	border-radius: 16px;
	height: 335px;
}

.fulfillment__info .h3__title {
	margin-bottom: 45px;
}

.fulfillment__info {
	margin-bottom: 125px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item{
	width: 33.3%;
}

.fulfillment__info-wrapper .fulfillment__pricing-item-title {
	font-family: 'Gotham Pro Medium';
	font-size: 22px;
	line-height: 20px;
	max-width: 190px;
	text-align: center;
	margin-bottom: 14px;
}

.fulfillment__pricing-item_active .fulfillment__pricing-item-title {
	color:#6B96ED;
}
.fulfillment__pricing-item-free {
	font-family: 'Gotham Pro Bold';
	font-size: 22px;
	line-height: 20px;
	color: #000;
	margin-bottom: 67px;
}

.fulfillment__info-wrapper  .fulfillment__pricing-item-units {
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 20px;
	color: #000;
	opacity: .4;
	margin-bottom: 55px;
}
.fulfillment__info-wrapper .fulfillment__pricing-item_active .fulfillment__pricing-item-units {
	margin-bottom: 55px;
}
.fulfillment__info-wrapper .fulfillment__pricing-item:nth-child(3) .fulfillment__pricing-item-title {
	margin-bottom: 52px;
	line-height: 25px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item__price {
	margin-bottom: 53px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item_active .fulfillment__pricing-item__price {
	margin-bottom: 53px;
}

/* .fulfillment__info-wrapper .fulfillment__pricing-item:after {
	display: none !important;
} */

.fulfillment__info-wrapper .fulfillment__pricing__btn {
	max-width: 207px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item_active .fulfillment__pricing__btn {
	max-width: 270px;
}

/* .fulfillment__pricing-item-processing {
max-width: 270px;
} */