@import "header.css";
@import "footer.css";
@import "products-section.css";
@import "how-it-works-section.css";
@import "integrate-with-section.css";
@import "print-custom-section.css";
@import "testimonials-section.css";

.fulfillment_partner-h2-title {
	margin-bottom: 60px !important;
}

.fulfillment-banner {
	background: #F4F8FC;
	margin-bottom: 166px;
	position: relative;
	padding: 0 20px;
}

.fulfillment-banner__wrapper.banner__wrapper {
	max-width: 100%;
}

.fulfillment-banner__title {
	color: #000 ; 
	text-transform: uppercase;
	font-size: 34px;
	line-height: 36px;
	font-family: 'Gotham Pro Bold';
	margin-bottom: 19px;

}

.fulfillment-banner__title-mob {
	display: none;
}

.fulfillment-banner__left {
	width: 50%;
}

.fulfillment-banner {
	position: relative;
}

.fulfillment-banner-img__desktop {
	position: absolute;
	left: calc(50% + 92px);
	bottom: 82px;
}

.fulfillment-banner-img__mob {
	display: none;
	position: relative;
	padding-bottom: 37px;
}

.fulfillment-banner-img__mob img:nth-child(2){
	position: absolute;
	left: 36px;
	top: 119px;
}

.fulfillment-banner-img__desktop img:nth-child(2) {
	position: absolute;
	left: 74px;
	bottom: -172px;
	width: 375px;
}


.fulfillment-banner__text {
	max-width: 485px;
	margin-bottom: 30px;
	color: #000;
	font-size: 18px;
	line-height: 26px;
}

.fulfillment-banner__btn {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Gotham Pro Medium';
	padding: 15.5px 39px;
	background: #009CE5;
	border-radius: 4px;
	display: inline-block;
	border: 2px solid #009CE5;
}
.fulfillment-banner__btn:hover {
	border-color: #009ce5;
	background: #fff;
	color: #00b6ff;
}

.fulfillment-banner__btn:active {
	background-color: #008bff;
	border-color: #008bff;

	color: #fff;
}

.fulfillment-banner__label {
	margin-bottom: 15px;
}

.fulfillment-banner__wrapper {
	max-width: 980px;
	padding: 113px 0 86px;
	margin: auto;
}

.fulfillment__how {
	margin-bottom: 211px;
	padding: 0 30px;
}

.fulfillment__how-wrapper {
	max-width: 980px;
	margin: auto;
}

.fulfillment__how-items-wrapper {
	display: flex;
	justify-content: space-between;
}

.fulfillment__how-item {
	width: calc((100% - 40px)/3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 64px 26px 60px 26px;
	background: #F3F8FC;
	border-radius: 4px;
}

.fulfillment__how-item:nth-child(1) .fulfillment__how-item-text {
	max-width: 250px;
}

.fulfillment__how-item:nth-child(3) .fulfillment__how-item-img {
	width: 259px;
}

.fulfillment__how-text {
	max-width: 730px;
	margin: auto;
	margin-bottom: 60px;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
}

.fulfillment__how-img-wrapper {
	margin-bottom: 35px;
}

.fulfillment__how-item-img {
	width: 253px;
	max-width: 100%;
}

.fulfillment__how-item-text {
	font-size: 18px;
	line-height: 22px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	text-align: center;
	max-width: 220px;
}

.fulfillment__how .fulfillment__h2-title {
	margin-bottom: 20px;
}

.fulfillment__pricing {
	padding: 0 20px;
}

.fulfillment__pricing-wrapper {
	max-width: 980px;
	margin: auto;
}

.fulfillment__pricing-wrapper .h2__title {
	margin-bottom: 50px;
}

.fulfillment__warehousing {
	margin-bottom: 125px;
}

.fulfillment__warehousing .fulfillment__h2-title {
	margin-bottom: 39px;
}


.fulfillment__row {
	display: flex;
	justify-content: space-between;
}

.fulfillment__column {
	color: #000;
	width: calc((100% - 100px)/3);
}
.fulfillment__advantages .fulfillment__item {
	padding-top: 40px;
}
.fulfillment__item-location {
	background: url("../img/location-v2.svg") no-repeat top left;
}
.fulfillment__item-merch {
	background: url("../img/merch.svg") no-repeat top left;

}
.fulfillment__item-albums {
	background: url("../img/album.svg") no-repeat top left;

}
.fulfillment__item-team {
	background: url("../img/team.svg") no-repeat top left;
}
.fulfillment__item-shipping {
	background: url("../img/shipping.svg") no-repeat top left;

}
.fulfillment__item-rates {
	background: url("../img/rate.svg") no-repeat top left;

}

.fulfillment__item-title {
	font-size: 18px;
	font-family: 'Gotham Pro Bold';
	margin-bottom: 20px;
	line-height: 20px;
	
}

.fulfillment__partner .fulfillment__item-title {
	margin-bottom: 26px;
	font-size: 16px;
	line-height: 26px;
}

.fulfillment__item-text {
	font-size: 16px;
	line-height: 26px;
	font-family: 'Gotham Pro Regular';
}

.fulfillment__advantages {
	margin-bottom: 100px;
}

.fulfillment__advantages .fulfillment__item-title {
	text-transform: uppercase;
	margin-bottom: 9px;
	letter-spacing: -0.3px;
}

.fulfillment__advantages-wrapper {
	max-width: 980px;
	margin: auto;
}

.fulfillment__advantages-wrapper h2 {
	margin-bottom: 67px;
}

.fulfillment__advantages .fulfillment__row:not(:last-child) {
	margin-bottom: 79px;
}

.fulfillment__red-text {
	color: #ff6953;
}

.fulfillment__h2-title {
	font-size: 30px;
	line-height: 34px;
	font-family: 'Gotham Pro Bold';
	color: #000;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-align: center;
}

.fulfillment__partner {
	margin-bottom: 121px;
}

.fulfillment__partner-wrapper {
	max-width: 980px;
	margin: auto;
}

.fulfillment__partner .h2__title {
	margin-bottom: 60px;
}

.fulfillment__advantages .h2__title-mob {
	display: none;
	text-transform: uppercase;
}

.fulfillment__advantages .h2__title-desk {
	margin-bottom: 70px;
	text-transform: uppercase;
}

.fulfillment__shipping {
	margin-bottom: 119px;
}

.fulfillment__shipping .fulfillment__h2-title {
	margin-bottom: 15px;
}

.fulfillment__shipping-text {
	font-size: 16px;
	line-height: 26px;
	font-family: 'Gotham Pro Regular';
	color: #000;
	max-width: 720px;
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
}

.shipping-table__desk-wrapper {
	width: 100%;
	border-radius: 4px;
	background: #F3F8FC;
	padding: 20px 45px 20px 70px ;
}

.shipping-table__desk {
	width: 100%;
}

.shipping-table__desk th {
	font-size: 14px;
	line-height: 16px;
	font-family: 'Gotham Pro Medium';
	color: #BBC1D2;
	padding: 20px 0 20px 0;
}

.shipping-table__desk th:not(:last-child) {
	border-right: 2px solid #E8EAF2;
}

.shipping-table__desk tr:not(:last-child):not(:first-child){
	border-bottom: 2px solid #E8EAF2;
}

.shipping-table__desk th:first-child {
	text-align: left;
}

.shipping-table__desk tr td:nth-child(1) {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	padding: 26px 0 26px 3px;
	width: 48%;
}

.shipping-table__desk tr td:not(:last-child) {
	border-right: 2px solid #E8EAF2;
}

.shipping-table__desk tr td:nth-child(2),
.shipping-table__desk tr td:nth-child(3) {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #009CE5;
	text-align: center;
	padding: 25px;
	width: 26%;
}

.shipping__mob-wrapper {
	display: none;
}

.shipping__mob {
	padding: 30px 15px;
	width: 100%;
	background: #F3F8FC;
	max-width: 500px;
	margin: auto;
}

.shipping__mob-prod-name {
	margin-bottom: 21px;
	padding: 0 20px;
	color: #000;
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
}

.shipping__mob-price-wrapper {
	padding: 0 20px;
	display: flex;
}

.shipping__mob-price-wrapper div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.shipping__mob-price-wrapper div:nth-child(1){
	width: 50%;
	padding-right: 10px;
}

.shipping__mob-price-wrapper div:nth-child(2){
	width: 50%;
}

.shipping__mob-price {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #009CE5;
}

.shipping__mob-item {
	padding: 30px 0;
	border-bottom: 2px solid #E8EAF2;
}

.shipping__mob-item:last-child {
	padding: 30px 0 0 0;
	border-bottom: none;
}

.shipping__mob-title {
	font-size: 14px;
	line-height: 16px;
	font-family: 'Gotham Pro Medium';
	color: #BBC1D2;
	padding: 0 20px;
}

.shipping__mob-prod-type {
	font-size: 10px;
	line-height: 16px;
	font-family: 'Gotham Pro Medium';
	color:#BBC1D2;
	margin-bottom: 5px;
}

.fulfillment__locations .fulfillment__h2-title {
	padding: 0 20px;
	margin-bottom: 51px;
}

.fulfillment__locations-img-desk {
	max-height: 526px;
	width: auto;
	margin: auto;
	display: table;
	max-width: 100%;
	position: relative;
	left: 25px;
	z-index: -1;
}
.fulfillment__locations-img-mob {
	display: none;
	margin: auto;
	max-width: 100%;
}

.fulfillment__locations-wrapper {
	max-width: 980px;
	margin: auto;
	margin-bottom: 103px;
}

.fulfillment_all-locations {
	margin-top: -129px;
}

.fulfillment_locations-block:nth-child(1) {
	margin-bottom: 22px;
}

.fulfillment_locations-block-title {
	font-size: 18px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	margin: 0 0 29px 19px;
}

.fulfillment_locations-block-outer {
	display: flex;
	flex-wrap: wrap;
}

.fulfillment_locations-block-outer:not(:last-child) {
	margin-bottom: 40px;
}

.fulfillment_one-location {
	border-radius: 4px;
	background: #F3F8FC ;
	/* background: #bad1e4; */
	padding: 18px 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Medium';
	color: #000;
	width: 180px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
}

.fulfillment_one-location:nth-child(5) {
	margin-right: 0;
}

.fulfillment_one-location:after {
	content: "";
	width: 38px;
	content: url(../img/pin-non-selected.svg);
	position: absolute;
	top: -14px;
	left: 18px;
}	


.fulfillment_one-location:hover {
	background: #009CE5;
	color: #fff;
}


.fulfillment_one-location:active{
	background-color: #008dff;
	color: #fff;
}

.fulfillment_one-location:hover:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 11.5px 0 11.5px;
	border-color: #fff transparent transparent transparent;
	top: 0px;
	left: 15px;
}


.fulfillment_one-location .fa-map-marker-alt {
	color: #009CE5;
	position: absolute;
	top: -9px;
	font-size: 22px;
}

.fulfillment__pricing__btn {
	border-radius: 4px;
	border: 2px solid #19A2EA;
	color:#19A2EA;
	width: 100%;
	font-family: 'Gotham Pro Bold';
	text-transform: uppercase;
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	font-size: 12px;
	letter-spacing: 1px;
}

.fulfillment__pricing__btn:hover {
	background: #19A2EA;
	color: #fff;
}

.fulfillment__pricing__btn:active{
	background-color: #008dff;
	border-color: #008dff;
	color: #fff;
}

.fulfillment_warehousing-wrapper {
	display: flex;
	border-radius: 4px;
	display: flex;
}

.fulfillment__pricing-item {
	width: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 50px 25px 30px 25px;
	cursor: pointer;
	position: relative;
	align-items: center;
	background: #F3F8FC;
}

.fulfillment__pricing-item__units-number {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #000;
	margin-bottom: 10px;
}

.fulfillment__pricing-item_active .fulfillment__pricing-item__units-number {
	color: #fff;
}
.fulfillment__pricing-item_active .fulfillment__pricing-item__descrip {
	color: #fff;
	opacity: 1;
}

.fulfillment__pricing-item_active .fulfillment__pricing-item__units-text {
	color: #FFFFFF;
	opacity: 0.65;
}
.fulfillment__pricing-item_active .fulfillment__pricing-item__price {
	color: #fff;
}

.fulfillment__pricing-item__units-text {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #000;
	opacity: .4;
	margin-bottom: 56px;
}

.fulfillment__pricing-item-dollar {
	font-size: 22px;
}

.fulfillment__pricing-item__price {
	font-size: 42px;
	line-height: 20px;
	font-family: 'Gotham Pro Bold';
	color: #000;
	margin-bottom: 31px;
}

.fulfillment__pricing-item__descrip {
	font-size: 14px;
	line-height: 20px;
	font-family: 'Gotham Pro Regular';
	color: #000;
	opacity: .4;
	margin-bottom: 51px;
	max-width: 200px;
}

.fulfillment__pricing-item_active {
	background: #009CE5;
	color: #fff;

}

.fulfillment__pricing-item_active .fulfillment__pricing__btn {
	background: #fff;
	color: #009CE5;
	border: 2px solid #fff;
	letter-spacing: initial;
}

.fulfillment__pricing-item_active .fulfillment__pricing__btn:hover {
	background-color: #009CE5;
	border-color: #fff;
	color: #fff;

}


/* .fulfillment_warehousing-wrapper .fulfillment__pricing-item:not(:last-child):not(.fulfillment__pricing-item_active):after,
.fulfillment__info-wrapper .fulfillment__pricing-item:not(:last-child):not(.fulfillment__pricing-item_active):after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 44px;
	width: 3px;
	background: #E8EAF2;
	height: calc(100% - 88px);
} */

.fulfillment__pricing-item--no-border:after {
	display: none !important;
}

.fulfillment__info-wrapper {
	display: flex;
	background: #F3F5FC;
	border-radius: 16px;
}

.fulfillment__info .fulfillment__h2-title {
	margin-bottom: 38px;
}

.fulfillment__info {
	margin-bottom: 125px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item{
	width: 33.3%;
	padding: 53px 25px 30px 25px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item-processing {
	padding: 50px 25px 30px 25px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item-title {
	font-family: 'Gotham Pro Bold';
	font-size: 22px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 14px;
	text-transform: uppercase;
}

.fulfillment__pricing-item_active .fulfillment__pricing-item-title {
	color:#fff;
}

.fulfillment__info-wrapper  .fulfillment__pricing-item_active .fulfillment__pricing-item-units {
	color: #fff;
	opacity: .65;
}
.fulfillment__pricing-item_active  .fulfillment__pricing-item-free {
	color: #fff;

}

.fulfillment__pricing-item-free {
	font-family: 'Gotham Pro Bold';
	font-size: 22px;
	line-height: 20px;
	color: #000;
	margin-bottom: 71px;
}

.fulfillment__info-wrapper  .fulfillment__pricing-item-units {
	font-family: 'Gotham Pro Bold';
	font-size: 14px;
	line-height: 20px;
	color: #000;
	opacity: .4;
	margin-bottom: 55px;
	text-transform: uppercase;
}

/* .fulfillment__info-wrapper .fulfillment__pricing-item_active .fulfillment__pricing-item-units {
	margin-bottom: 49px;
} */

.fulfillment__info-wrapper .fulfillment__pricing-item:nth-child(3) .fulfillment__pricing-item-title {
	margin-bottom: 52px;
	line-height: 25px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item__price {
	margin-bottom: 53px;
}

/* .fulfillment__info-wrapper .fulfillment__pricing-item_active .fulfillment__pricing-item__price {
	margin-bottom: 53px;
} */

.fulfillment__info-wrapper .fulfillment__pricing__btn {
	max-width: 207px;
}

.fulfillment__info-wrapper .fulfillment__pricing-item_active .fulfillment__pricing__btn {
	max-width: 270px;
}
.fulfillment__h2-title-mob {
	display: none;
}

