.header .header__top-section{
	background-color: #000000;
	padding: 18px 20px;
}
.header__main-container,
.header__top-section-main-container{
	width: 100%;
	max-width: 980px;
	margin:0 auto;
}

.homepage__header-main-container,
.homepage__header-top-section-main-container{
	max-width: 1230px;
}

.header .header__top-section,
.header .header__top-section a{
	color: #fff;
}
.header .header__top-section .header__top-section-main-container{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
.header .header__top-section .header__top-section-main-container .header__top-section-start,
.header .header__top-section .header__top-section-main-container .header__top-section-phone{
	width: 15%;
}
.header .header__top-section .header__top-section-main-container .header__top-section-logo{
	width: 40%;
}
.header__top-section-logo a{margin-left: 30px;}
.header .header__top-section .header__top-section-main-container .header__top-section-signIn{
	width: 10%;text-align: right;
}
.header__top-section .header__top-section-start .header__top-section-start-label,
.header__top-section .header__top-section-phone .header__top-section-phone-label{
	font-size: 12px;
	letter-spacing: 0;
	line-height: 12px;
	color: #BCC6CA;
	opacity: 0.6;
	margin-bottom: 6px;
	font-family: 'Gotham Pro Medium';
}
.header__top-section .header__top-section-start .header__top-section-start-main-text,
.header__top-section .header__top-section-phone .header__top-section-phone-value{
	font-size: 15px;
	letter-spacing: 0;
	line-height: 14px;
	font-family: 'Gotham Pro Medium';
}
.header__top-section-start-main-text{
	position: relative;
}
.header__top-section-start-main-text::after{
	content: url(../img/instant-quote.png);
	position: absolute;
    top: -10px;
}
.header__top-section .header__top-section-signIn > a{
	font-family: 'Gotham Pro Bold';
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 12px;	
}
.header__top-section .header__top-section-signIn > a >svg{
	margin-right: 7px;
    position: relative;
    top: 3px;
}
.header .header__main-nav-wrapper{
	background-color: #fff;
	/* padding: 22px; */
	padding: 22px 20px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(46,46,48,0.05);
	-moz-box-shadow: 0px 1px 1px 0px rgba(46,46,48,0.05);
	box-shadow: 0px 1px 1px 0px rgba(46,46,48,0.05);

	-webkit-transition: all 0.5s ease;
	-moz-transition: position 3s;
	-ms-transition: position 3s;
	-o-transition: position 3s;
	transition: all 0.5s ease;

}
.header .header__main-nav-wrapper.header__main-nav-wrapper-fixed{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    animation: smoothScroll 0.5s forwards;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.header__main-nav-wrapper .header__main-container{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
.header__main-nav-wrapper .header__main-container nav.header__main-nav{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
.header__main-nav-wrapper .header__main-container nav.header__main-nav > li{
	list-style: none;
	padding-right: 45px;
}
.header__main-nav-wrapper .header__main-container nav.header__main-nav > li:last-child{
	padding-right: 0;
}
.header__main-nav-wrapper .header__main-container nav.header__main-nav > li >a{
  color: #3C3D41;
  font-family: "Gotham Pro Medium";
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 12px;
  text-transform: uppercase;
}
.header__main-nav-wrapper .header__main-container nav.header__main-nav > li >a:hover,
.header__main-nav-wrapper .header__main-container nav.header__main-nav > li >a:active,
.header__main-nav-wrapper .header__main-container nav.header__main-nav > li >a.header__main-nav_link_active{
	color: #009CE5;
}
.header__main-nav-wrapper .header__main-container .header__main-nav_search .fa-search{
	opacity: 0.3;
	color: #2E2E30;	
}
.header__mobile-top-section-chat-link{
	border: 0.5px solid #009cec80;
	border-radius: 6px;
	font-family: 'Gotham Pro Bold';
	font-size: 13px;
	letter-spacing: 0;
	line-height: 12px;
	padding: 4px 5px;
	color: #009CEC !important;
	background: #fff;
}


.header__top-section-start--inline {
	display: flex;
	width: initial !important;
	align-items: flex-end;
}

.header__top-section-phone--inline {
	display: flex;
	width: initial !important;
	align-items: center;
}

.header__top-section-phone-value--inline span {
	font-family: 'Gotham Pro Regular';
	margin-right: 10px;
	font-size: 13px;
} 

.header__top-section-phone--inline .header__top-section-phone-label {
	margin-bottom: 0 !important;
}
.header__top-section-phone-value--inline {
	display: flex;
	margin-left: 11px;
}
.header__top-section-start--inline .header__top-section-start-label {
	margin-bottom: 0 !important;
	margin-right: 8px;
}

.header-sign-in__btn {
	display: block;
	text-align: center;
	font-family: 'Gotham Pro Bold';
	color: #6B96ED;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 12px;
	text-transform: uppercase;
	padding: 13px 30px;
	border: 1px solid #6B96ED;
	border-radius: 10px;
	box-sizing: border-box;
}

.header-sign-in__btn:hover{
	background-color: #6B96ED;
	border-color:  #6B96ED;
	color: #fff;
}
.header-sign-in__btn:active{
	background-color: #008dff;
	border-color:  #008dff;
	color: #fff;
}

.header__top-section-phone-value--inline .header__contact-us {
	font-family: "Gotham Pro Bold";
	font-size: 13px;
	line-height: 12px;
	text-decoration: underline;
	margin-right: 15px;
	position: relative;
	top: 1px;
}

.header__top-section-phone--inline .header__top-section-phone-label {
	margin-right: 18px;
}

.header-view2 .header__main-nav-wrapper {
	box-shadow: none ;
}

.header-view2 .header__main-nav-wrapper-fixed {
	-webkit-box-shadow: 0px 1px 1px 0px rgba(46,46,48,0.05);
	-moz-box-shadow: 0px 1px 1px 0px rgba(46,46,48,0.05);
	box-shadow: 0px 1px 1px 0px rgba(46,46,48,0.05);
}

.header .header__top-section .header__top-section-main-container {
	max-width: 980px;
}

.header-view2 .header__main-nav-wrapper .header__main-container {
	max-width: 980px;
}

.header-view2 .header__main-nav-wrapper .header__main-container nav.header__main-nav > li {
	list-style: none;
	padding-right: 30px;
}

.header-view2 .header-logo {
	margin-right: 10px;
}