.how-it-works-section{
	padding-top: 105px;
	padding-bottom: 132px;
	background-color: #F4F8FC;
}
.how-it-works-section__title{
	padding-bottom: 130px;
}
.how-it-works-section__row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    padding-bottom: 180px;
}
.how-it-works-section__row .how-it-works-section__row-text{
	margin-top: 20px;
}
.how-it-works-section__row:nth-child(2) .how-it-works-section__row-text{
	/* margin-top: 0;	 */
	margin-top: 24px;
}
.how-it-works-section .how-it-works-section__row:last-child{
	padding-bottom:0;
}
.how-it-works-section__row.how-it-works-section__row-inverse{
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;	
}

.how-it-works-section__row.how-it-works-section__row-inverse .how-it-works-section__row-text {
	width: 37%;
}

.how-it-works-section__column{
	width: 40%;
}
.how-it-works-section__column-image{
	text-align: right;
	/* padding-right: 20px;	 */
	margin-right: 60px;
}
.manufacturing-img__mob {
	display: none;
}

.how-it-works-section__row-inverse .how-it-works-section__column-image{
	text-align: left;
	padding-left: 0;	
}
.how-it-works-section__subtitle{
	font-family: 'Gotham Pro Medium';
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
	text-transform: uppercase;
    max-width: 350px;
    margin-bottom: 15px;
}
.how-it-works-section__subtitle span{
	color: #FF3B1C;
}
.how-it-works-section__row p{
	max-width: 410px;
	margin-bottom: 40px;
	font-family: 'Gotham Pro Regular';
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
}
.how-it-works-section__logos{
	/* max-width: 392px; */
	max-width: 430px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	align-items: center;
	padding-bottom: 23px;
}
.how-it-works-section__single-logo{width: 24%;}
.how-it-works-section__logos img{
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 20px;
    margin-bottom: 17px;
}
.how-it-works-section__button{
	width: 100%;
    max-width: 172px;
    display: block;
    text-align: center;
    font-family: 'Gotham Pro Bold';
    color: #009CE5;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 14.5px;
    border: 2px solid #19A2EA;
    border-radius: 4px;
    box-sizing: border-box;
}
.how-it-works-section__button:hover{
	background-color: #009ce5;
	border-color:  #009ce5;
	color: #fff;
}
.how-it-works-section__button:active{
	background-color: #008dff;
	border-color:  #008dff;
	color: #fff;
}