.item-sub-title {
	font-family: 'Gotham Pro Medium';
	font-size: 12px;
	line-height: 12px;
	color: #3C3D41;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.item-info__price-sub-title  {
	margin-bottom: 30px;

}

.item-info__descrip-sub-title {
	margin-bottom: 10px;
}

.item-reviews__sub-title {
	margin-bottom: 33px;
}

.item__recommended-sub-title {
	margin-bottom: 20px;
}

.item__main-section {
	width: 100%;
	max-width: 1366px;
	margin: auto;
}

.item-info {
	display: flex;
}

.item-info__right {
	max-width: 480px;
	display: flex;
	flex-direction: column;
	margin-left: 60px;
}

.item-info__name {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}

.item-info__name-wrapper {
	margin-bottom: 30px;
}

.item-info__rating {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.item-info__border-bottom {
	padding-bottom: 30px;
	border-bottom: 1px solid #D8D8D8;
}

.item-info__stars {
	margin-right: 11px;
}

.item-info__rating-number {
	font-family: 'Gotham Pro Medium';
	font-size: 14px;
	line-height: 13px;
	color: #00CA4B;

}

.item-info__rating .fa-star {
	color: #00CA4B;
	opacity: 0.3;
}
.item-info__rating .fa-star:not(:last-child) {
	margin-right: 3px;
}

.item-info__rating .fa-star.checked {
	color: #00CA4B;
	opacity: 1;
}

.item-info__firm {
	margin-right: 12px;
	font-family: 'Gotham Pro Medium';
	font-size: 24px;
	line-height: 24px;
}

.item-info__descr {
	font-family: 'Gotham Pro Medium';
	font-size: 24px;
	line-height: 24px;
	margin-right: 12px;
	color: #3C3D41;
	opacity: 0.3;
}

.item-info__categ {
	font-family: 'Gotham Pro Medium';
	font-size: 14px;
	line-height: 13px;
	color: #3C3D41;
	opacity: 0.3;
	text-transform: uppercase;
}

.item-info__new-label {
	position: static;
}
.item-info__anchors {
	display: flex;
	border-bottom: 1px solid #D8D8D8;
	margin-bottom: 36px;
}

.item-info__anchors li:not(:last-child) {
	margin-right: 50px;
}

.item-info__anchor {
	padding-bottom: 21px;
	font-size: 14px;
	line-height: 13px;
	color:#3C3D41;
	text-transform: uppercase;
	position: relative;
	font-family: 'Gotham Pro Medium';
	display: block;
}


.item-info__anchor:after {
	display: none;
	content: "";
	width: 100%;
	height: 1px;
	background: #009DE6;
	position: absolute;
	top: 34px;
}


.item-info__anchor_active a {
	color: #009DE6;
}

.item-info__anchor_active a:after{  
	display: block;
}

.item-info__anchor:hover  {
	color: #009DE6;
}

.item-info__anchor:hover:after {
	display: block;
}

.reviews-count {
	color: #009DE6;
	margin-left: 6px;
}

.item-info__size {
	margin-bottom: 40px;
}

.item-info__sizes-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.item-info__size-item {
	width: 44px;
	height: 44px;
	border: 2px solid #F3F8FC;
	border-radius: 10px;
	background: #F3F8FC;
	font-family: 'Gotham Pro Medium';
	font-size: 14px;
	line-height: 13px;
	color:#3C3D41;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.item-info__size-item:not(:last-child) {
	margin-right: 10px;
}

.item-info__size-item:hover {
	border: 2px solid #009CE5;
	background: #fff;
}

.item-info__size-item_active {
	border: 2px solid #009CE5;
	background: #fff;
}

.item-info__size-item_disable {
	color:rgba(60, 61, 65, 0.25);
	pointer-events: none;
}

.item-info__color-item {
	width: 44px;
	height: 44px;
	border-radius: 10px;
	cursor: pointer;
	margin-right: 9px;
	margin-bottom: 9px;
}

.item-info__color-item:hover {
	border: 2px solid #009CE5;
}

.item-info__color-item_active {
	border: 2px solid #009CE5;
}

.item-info__colors-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.item-info__color {
	margin-bottom: 40px;
}

.item-info__material {
	margin-bottom: 30px;
}

.item-info__materials-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.item-info__material-item {
	background: #F2F8FC;
	border-radius: 10px;
	width: 148px;
	min-width: 148px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3C3D41;
	font-family: 'Gotham Pro Medium';
	font-size: 14px;
	line-height: 13px;
	border: 2px solid #F2F8FC;
	cursor: pointer;
}

.item-info__material-item:not(:last-child) {
	margin-right: 10px;
}

#file-upload-button {
	cursor: pointer;
}

.item-info__material-item:hover {
	border: 2px solid #009CE5;
	color: #009CE5;
	background: transparent;
}

.item-info__material-item_active {
	border: 2px solid #009CE5;
	color: #009CE5;
	background: transparent;
}

.custom-print__btn {
	background: transparent;
	border: 2px solid #C3C3C3;
	border-radius: 10px;
	width: 204px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gotham Pro Medium';
	font-size: 14px;
	line-height: 13px;
	color: #C3C3C3;
	position: relative;
	padding: 10px;
	word-break: break-all;
}

.custom-print__btn img {
	margin-right: 10px;
}

.custom-print__input-file {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	text-indent: -130px;
}

#file-upload-button {
	z-index: -10;
	cursor: pointer;
}

.item-info__custom-print {
	margin-bottom: 30px;
}

.item-info__price-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.item-info__price-number {
	font-size: 24px;
	line-height: 24px;
	color: #3C3D41;
	font-family: 'Gotham Pro Bold';
}

.add-design__btn {
	width: 100%;
	padding: 19px 0;
}

.item-info__price {
	margin-bottom: 40px;
}

.item-info__descrip-text {
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	line-height: 20px;
	color: #3C3D41;
}

.item-info__descrip {
	margin-bottom: 37px;
}

.item-reviews__total {
	padding-right: 15px;
}

.item-reviews__average {
	padding-right: 15px;
}

.item-reviews__average-stars {
	margin-bottom: 10px;
}

.item-reviews__average-stars .fa-star.checked {
	color: #00C55B;
	opacity: 1;
}

.item-reviews__average-stars .fa-star {
	color: #00C55B;
	opacity: 0.3;
	font-size: 16px;
}

.item-reviews__average-number {
	font-family: 'Gotham Pro Bold';
	font-size: 24px;
	line-height: 22px;
	color: #41C167;
}

.item-reviews__stat {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.item-reviews__title {
	font-family: 'Gotham Pro Medium';
	font-size: 12px;
	line-height: 15px;
	color: #99A5B7;

}

.item-reviews__text {
	font-family: 'Gotham Pro Bold';
	font-size: 24px;
	line-height: 22px;
	color: #000000;
}

.item-reviews__total,
.item-reviews__order {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-reviews__item {
	padding: 30px;
	background: #F4F8FC;
	border-radius: 4px;
}

.item-reviews__item:not(:last-child) {
	margin-bottom: 10px;
}

.item-reviews__item-rating {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.item-reviews__photo {
	margin-right: 15px;
}

.item-reviews__name {
	font-size: 12px;
	line-height: 19px;
	font-family: 'Gotham Pro Medium';
	color: #2E2E30;
}

.item-reviews__stars .fa-star.checked {
	color: #00C94B;
	opacity: 1;
}

.item-reviews__stars .fa-star {
	color: #00C94B;
	opacity: 0.3;
	font-size: 19px;
}

.item-reviews__item-title {
	font-family: 'Gotham Pro Bold';
	font-size: 16px;
	line-height: 24px;
	color: #2E2E30;
	margin-bottom: 10px;
}

.item-reviews__item-text {
	font-family: 'Gotham Pro Regular';
	color: #2E2E30;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 10px;
}

.item-reviews__item-date {
	font-family: 'Gotham Pro Medium';
	font-size: 12px;
	line-height: 24px;
	color: rgba(46, 46, 48, 0.3);
}

.item-reviews__wrapper {
	margin-bottom: 50px;
}


/*RECOMMENDED*/
.item__recommended-top {
	display: flex;
	justify-content: space-between;
}

.item__recommended {
	max-width: 980px;
	margin: auto;
}

.item__recommended-view-all {
	color:#3C3D41;
	opacity: 0.4;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Gotham Pro Medium';
	text-decoration: underline;
}

.item__recommended-view-all:hover {
	opacity: 1;
}

.item__recommended__products-desk {
	display: flex;
	margin-bottom: 50px;
}

.item__recommended__products-desk .collection__single-product-price-value {
	margin-left: 3px;
}

.item__recommended__products-mob {
	display: none;
	margin-bottom: 70px;
}

.item__recommended__products .collection__single-product {
	margin-right: 10px !important;
	display: inline-block;
	cursor: pointer;
}

.collection__single-product-inner-wrapper {
	display: block;
}

.item__recommended__products-desk .collection__single-product:last-child {
	margin-right: 0 !important;
}

/*first slider desktop version*/
.item-slider-wrapper__desk {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.item-slider-wrapper__desk .thumbnail-image {
	margin-bottom: 8px;
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
	height: 270px;
}

.item-slider-wrapper__desk .thumbnail-image img {
	width: 100%;
}

.item__thumbnail-arrows {
	width: 100%;
	height: 50px;
	position: relative;
}

.item-info__left .slick-next.slick-disabled:hover:before,
.item-info__left .slick-next.slick-disabled:focus:before {
	opacity: .25 !important;
	content: url(../img/arrow-right-gray.svg) !important;
}
.item-info__left .slick-next.slick-disabled:hover,
.item-info__left .slick-next.slick-disabled:focus {
	background: #F3F8FC !important;

}

.item-info__left .slick-prev.slick-disabled:hover:before,
.item-info__left .slick-prev.slick-disabled:focus:before {
	opacity: .25 !important;
	content: url(../img/arrow-left-gray.svg) !important;
}
.item-info__left .slick-prev.slick-disabled:hover,
.item-info__left .slick-prev.slick-disabled:focus {
	background: #F3F8FC !important;

}


.item__thumbnail-arrows .slick-prev:hover:before,
.item__thumbnail-arrows .slick-prev:focus:before {
	content: url(../img/arrow-left-white.svg);
}

.item__thumbnail-arrows .slick-next:hover:before,
.item__thumbnail-arrows .slick-next:focus:before {
	content: url(../img/arrow-right-white.svg);
}

.item__thumbnail-arrows .slick-next {
	right: 0;
}

.item__thumbnail-arrows .slick-prev {
	right: 48px;
	left: initial;
}

.item-slider-wrapper__desk .slider-for {
	width: 440px;
	border-radius: 4px;
	overflow: hidden;
}

.item-slider-wrapper__desk .slider-for,
.item-slider-wrapper__desk .slider-for .slick-list,
.item-slider-wrapper__desk .slider-for .slick-track {
	height: 550px;
}

.item-slider-wrapper__desk .slider-for .item__full-img {
	display: flex !important;
	align-items: flex-end;
	justify-content: center;
}

.item-slider-wrapper__desk .slider-nav {
	width: 190px;
	margin-right: 10px;
}
/*end first slider desktop version*/


/*first slider mobile version*/
.item-slider-wrapper__mob {
	display: none;
	width: 100%;
}

.item-slider__mob-img {
	width: 265px;
	height: 330px;
	margin-right: 10px;
	border-radius: 4px;
	overflow: hidden;
}

.item-slider__mob-img img {
	height: 100%;
}

.item-slider__mob-arrows {
	position: relative;
	margin-top: 30px;
	margin-bottom: 50px;
}

.item-slider__mob-arrows .slick-prev {
	left: 0;
}

.item-slider__mob-arrows .slick-next {
	right: 0;
}

.item-colors_hidden_mob {
	display: flex;
}

.load-colors__btn-label {
	background: transparent;
	border: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #3C3D41;
	opacity: 0.3;
	font-family: 'Gotham Pro Medium';
	display: flex;
	cursor: pointer;
}

.load-colors__btn-wrapper {
	margin: auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.load-colors__btn-wrapper:hover .load-colors__btn-label {
	opacity: 1;
}

#load-colors__btn {
	opacity: 0;
}

.load-colors__btn-wrapper {
	display: none;
}

/*end first slider mobile version*/

