@import "header.css";
@import "footer.css";
@import "products-section.css";
@import "how-it-works-section.css";
@import "integrate-with-section.css";
@import "print-custom-section.css";
@import "testimonials-section.css";

body{
	font-family: 'Gotham Pro Regular';
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	letter-spacing: 0;
}
.main-container{
	width: 100%;
	max-width: 980px;
	margin:0 auto;
}
.first-section{
	padding: 75px 0 240px 0;
	position: relative;
}
a{
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
/*.first-section{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}*/
.first-section .first-section__column:first-child{
	width: 55%;
}
/*.first-section .first-section__column:last-child{
	width: 45%;
}*/
.first-section__column__absolute{
	width: 100%;
	max-width: 1366px;
	position: absolute;
	top: 0;
	left: 50%;
    -moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.first-section .first-section__column__absolute img{
	position: absolute;
	top:0;
	right: 0;
}
.first-section	.first-section__title{
	font-family: 'Gotham Pro Bold';
	font-size: 28px;
	letter-spacing: 0;
	line-height: 39px;
	margin-bottom: 30px;
}
.first-section	.first-section__column h4{
	font-size: 14px;
	max-width: 400px;
	line-height: 20px;
	margin-bottom: 30px;
}
.first-section	.first-section__column .first-section__button{
	font-family: 'Gotham Pro Bold';
	font-size: 16px;
	letter-spacing: 0;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
	width: 100%;
	max-width: 216px;
	border-radius: 4px;
	background-color: #FF6953;
	padding: 18px 43px;
	text-transform: uppercase;
}
.first-section	.first-section__column .first-section__button:hover{
	background-color: #ff4b1f;
}
.first-section	.first-section__column .first-section__button:active{
	background-color: #ff9b82;
}
.first-section .first-section__plants{
	margin: 60px 0 50px 0;
    max-width: 400px;
}
.first-section .first-section__plants .first-section__plants-title{
	font-family: 'Gotham Pro Bold';
	font-size: 12px;
	letter-spacing: 0;
	line-height: 26px;
}
.first-section .first-section__plants .first-section__plants_markers{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;	
}
.first-section .first-section__plants .first-section__plants_markers span{
	letter-spacing: 0;
	line-height: 15px;
}
.first-section .first-section__plants .first-section__plants_markers .fa-map-marker-alt{
	color: #FF6953;
}
.first-section .first-section__partners img{margin-right: 28px;}
.first-section .first-section__partners img:last-child{margin-right: 0;}
.products-section__title,
.how-it-works-section__title,
.integrate-with-section__title,
.print-custom-section__title,
.testimonials-section__title,
.customers-selling-section__title,
.unified-manufacturing-section__title{
	text-align: center;
	font-family: 'Gotham Pro Medium';
	font-size: 30px;
	letter-spacing: 0;
	line-height: 29px;
	text-transform: uppercase;
}

/*Our customers are selling*/
.customers-selling-section{
	background-color: #009CE5;
	padding: 100px 0;
}
.customers-selling-section__title-row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;	
    margin-bottom: 50px;
}
.customers-selling-section__title-row .customers-selling-section__title{
	color: #fff;
}
.customers-selling-section__about-us-link{
	width: 100%;
    max-width: 122px;
    display: block;
    text-align: center;
    font-family: 'Gotham Pro Bold';
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0.83px;
    line-height: 10px;
    text-transform: uppercase;
    padding: 9.5px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;	
}
.customers-selling-section__about-us-link:hover{
	background-color: #ffffff;
	border-color:  #ffffff;
	color: #009ce5;
}
.customers-selling-section__about-us-link:active{
	background-color: #ffffff;
	border-color:  #ffffff;
	color: #009ce5;
}
.customers-selling-section__buttons-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.customers-selling-section__slider-navigation{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
	width: 120px;
	margin-left: 50px;
	margin-right: 25px;
}
.customers-selling-section__slider-navigation .slick-prev::before{
	content: url(../img/arrow-left-white.svg);
}
.customers-selling-section__slider-navigation .slick-next::before{
	content: url(../img/arrow-right-white.svg);
}
.customers-selling-section__slider-navigation .slick-prev::before{
	opacity: 0.5;
}
.customers-selling-section__slider-navigation .slick-prev:hover::before,
.customers-selling-section__slider-navigation .slick-next:hover::before{
	opacity: 1;
}
.customers-selling-section__slider-navigation .slick-prev,
.customers-selling-section__slider-navigation .slick-next{
    position: relative;
    background-color: #009CE5;
    top: 20px;
    right: unset;
}
.customers-selling-section__single-product{
  	width: 24%;
	max-width: 230px;
	height: 234px;
	position: relative;
	margin-right: 20px;
}
.customers-selling-section__single-product a{
	height: 100%;
	width: 100%;
	padding: 0 20px 20px;
	display: -webkit-flex!important;
	display: flex!important;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	outline: none;
}
.customers-selling-section__single-product:nth-child(4n){
	margin-right: 0;
}
.customers-selling-section__single-product-image{
	flex-grow: 2;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.customers-selling-section__single-product-image img{max-height: 180px;}
.customers-selling-section__single-product-title{
	font-family: 'Gotham Pro Bold';
	color: #009CE5;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 14px;
	margin-bottom: 7px;
}
.customers-selling-section__single-product-price{
	color: #afafaf;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 12px;
}
.customers-selling-section__single-product-price .customers-selling-section__single-product-price-value{
	font-family: 'Gotham Pro Medium';
	color: #2E2E30;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 13px;
}
.customers-selling-section__contact-info{
	margin-top: 80px;
	border-radius: 6px;
  	background-color: #FFFFFF;
  	padding: 65px 0;
  	text-align: center;
}
.customers-selling-section__contact-info h3{
	font-family: 'Gotham Pro Bold';
	color: #2E2E30;
	font-size: 28px;
	letter-spacing: 0;
	line-height: 38px;
}
.customers-selling-section__phone{
	padding: 30px 0 42px;
}
.customers-selling-section__phone a{
	font-family: 'Gotham Pro Bold';
	color: #009CE5;
	font-size: 30px;
	letter-spacing: 0;
	line-height: 29px;
}
.customers-selling-section__socials a{
	margin-right: 34px;
	color: #000000;
    font-size: 25px;
}
.customers-selling-section__socials a:last-child{
	margin-right: 0;
}

/* ----------- Unified Manufacturing -------------- */
.unified-manufacturing-section{
	padding: 100px 0;
}
.unified-manufacturing-section__title-row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;	
    margin-bottom: 38px;
}
.unified-manufacturing-section__link{
	width: 100%;
    max-width: 122px;
    display: block;
    text-align: center;
    font-family: 'Gotham Pro Bold';
    color: #009CE5;
    font-size: 10px;
    letter-spacing: 0.83px;
    line-height: 10px;
    text-transform: uppercase;
    padding: 9.5px;
    border: 2px solid #009CE5;
    border-radius: 4px;
    box-sizing: border-box;	
}
.unified-manufacturing-section__link:hover{
	background-color: #009ce5;
	border-color:  #009ce5;
	color: #fff;
}
.unified-manufacturing-section__link:active{
	background-color: #008dff;
	border-color:  #008dff;
	color: #fff;
}
.unified-manufacturing-section__buttons-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.unified-manufacturing-section__slider-navigation{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
	width: 120px;
	margin-left: 50px;
	margin-right: 25px;
}
.unified-manufacturing-section__slider-navigation .slick-prev::before{
	content: url(../img/arrow-left-black.svg);
}
.unified-manufacturing-section__slider-navigation .slick-next::before{
	content: url(../img/arrow-right-black.svg);
}
.unified-manufacturing-section__slider-navigation .slick-prev::before{
	opacity: 0.3;
}
.unified-manufacturing-section__slider-navigation .slick-prev:hover::before{
	content: url(../img/arrow-left-light-blue.svg);
}
.unified-manufacturing-section__slider-navigation .slick-prev:focus::before{
	content: url(../img/arrow-left-blue.svg);
}
.unified-manufacturing-section__slider-navigation .slick-next:hover::before{
	content: url(../img/arrow-right-light-blue.svg);
}
.unified-manufacturing-section__slider-navigation .slick-next:focus::before{
	content: url(../img/arrow-right-blue.svg);
}
.unified-manufacturing-section__slider-navigation .slick-prev:hover::before,
.unified-manufacturing-section__slider-navigation .slick-next:hover::before{
	opacity: 1;
}
.unified-manufacturing-section__slider-navigation .slick-prev:active::before,
.unified-manufacturing-section__slider-navigation .slick-next:active::before{
	opacity: 1;
}
.unified-manufacturing-section__slider-navigation .slick-prev,
.unified-manufacturing-section__slider-navigation .slick-next{
    position: relative;
    top: 20px;
    right: unset;
    background-color: transparent;
}
.unified-manufacturing-section__single-product{
	width: 24%;
	max-width: 230px;
	background-color: #F4F8FC;
	height: 295px;
	position: relative;
	margin-right: 20px;
}
.unified-manufacturing-section__single-product a{
	height: 100%;
	width: 100%;
	border-radius: 4px;
	background-color: #F4F8FC;
	padding: 0 30px 30px;
	display: -webkit-flex!important;
	display: flex!important;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	box-sizing: border-box;
	outline: none;
}
.unified-manufacturing-section__single-product.unified-manufacturing-section__single-product-blue a{
	background-color: #009CE5;
}
.unified-manufacturing-section__single-product a:hover{
	background-color: #ffffff;
	outline: none;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,156,236,1);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(0,156,236,1);
	box-shadow: inset 0px 0px 0px 2px rgba(0,156,236,1);
}
.unified-manufacturing-section__single-product a:active,
.unified-manufacturing-section__single-product a:focus{
	background-color: #e2ecf6;
	outline: none;
	box-shadow:unset;
}
.unified-manufacturing-section__single-product.unified-manufacturing-section__single-product-blue a{
	background-color: #009CE5;
	outline: none;
}
.unified-manufacturing-section__single-product.unified-manufacturing-section__single-product-blue a:hover{
	background-color: #0089ff;
	outline: none;
	box-shadow:unset;
}
.unified-manufacturing-section__single-product.unified-manufacturing-section__single-product-blue a:active,
.unified-manufacturing-section__single-product.unified-manufacturing-section__single-product-blue a:focus{
	background-color: #0072c1;
	outline: none;
	box-shadow:unset;
}
.unified-manufacturing-section__single-product:nth-child(3n){
 	margin-right: 0;
}
.unified-manufacturing-section__single-product-image{
	flex-grow: 2;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.unified-manufacturing-section__single-product-title{
	font-family: 'Gotham Pro Bold';
	color: #009CE5;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 16px;
	margin-bottom: 9px;
}
.unified-manufacturing-section__single-product-blue .unified-manufacturing-section__single-product-title{
	color: #ffffff;
}
.unified-manufacturing-section__single-product-price{
	color: #afafaf;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 12px;
}
.unified-manufacturing-section__single-product-blue .unified-manufacturing-section__single-product-price{
	color: #ffffffa6;
}
.unified-manufacturing-section__single-product-price .unified-manufacturing-section__single-product-price-value{
	font-family: 'Gotham Pro Medium';
	color: #2E2E30;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 12px;
}
.unified-manufacturing-section__single-product-blue .unified-manufacturing-section__single-product-price .unified-manufacturing-section__single-product-price-value{
	color: #ffffff;
}
.unified-manufacturing-section__single-product.unified-manufacturing-section__single-product-double-width{
	width: 48%;
	max-width: 480px;
	overflow: hidden;
}
.unified-manufacturing-section__single-product-double-width .unified-manufacturing-section__single-product-image{
	position: relative;
}
.unified-manufacturing-section__single-product-double-width .unified-manufacturing-section__single-product-image img{
	position: absolute;
	right: 0;
	bottom: -70px;
	height: 110%;
}
.unified-manufacturing-section__single-coming-soon-product .unified-manufacturing-section__single-product-title{
	font-family: 'Gotham Pro Medium';
	color: #A4A6AA;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0;
	margin-bottom: 0;
}
.unified-manufacturing-section__single-variable-product .unified-manufacturing-section__single-product-title{
	font-family: 'Gotham Pro Medium';
	color: #A4A6AA;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0;
	margin-bottom: 0;
}
.unified-manufacturing-section__single-coming-soon-product .unified-manufacturing-section__single-product-variable-text{
	font-family: 'Gotham Pro Medium';
	color: #009CE5;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0;
	text-decoration: underline;
}
.unified-manufacturing-section__single-variable-product .unified-manufacturing-section__single-product-variable-text{
	font-family: 'Gotham Pro Medium';
	color: #009CE5;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0;
	text-decoration: underline;
}

.margin_bottom--12 {
	margin-bottom: 12px;
} 