@import "sign-in.css";

.password__wrapper {
	max-width: 640px;
	margin: auto;
	padding-top: 120px;
	padding: 120px 20px 120px 20px;
}

.password__form {
	max-width: 309px;
	margin: auto;
}

.password__title {
	text-transform: uppercase;
	font-family: 'Gotham Pro Bold';
	color: #000;
	font-size: 34px;
	line-height: 39px;
	text-align: center;
	margin-bottom: 16px;
}

.password__text {
	font-family: 'Gotham Pro Regular';
	color: #000;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 50px;
}

.password__submit-btn {
	padding: 16px 0;
	text-transform: none;
	width: 100%;
	font-family: 'Gotham Pro Medium';
}

.new-password__wrapper input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-align: center;
}

.new-password__wrapper input::-moz-placeholder { /* Firefox 19+ */
	text-align: center;
}

.new-password__wrapper input:-ms-input-placeholder { /* IE 10+ */
	text-align: center;
}

#new-password__form .form__input-wrapper:nth-child(1) {
	margin-bottom: 15px;
}
#new-password__form .form__input-wrapper:nth-child(2) {
	margin-bottom: 20px;
}

.new-password__wrapper .password__text {
	max-width: 486px;
	margin: auto;
	margin-bottom: 50px;
}

.forgot-password__wrapper .password__text {
	max-width: 465px;
	margin: auto;
	margin-bottom: 41px;
}

#forgot-password__submit-btn{ 
	text-transform: uppercase;
}

#forgot-password__form .form__input-wrapper:nth-child(1) {
	margin-bottom: 22px;

}

.password__title-question-symbol {
	display: none;
}
