.products-section{
	padding-bottom: 100px;
}
.products-section .products-section__title{margin-bottom: 55px}
.products-section .products-section__columns{
	margin-top: 33px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.products-section .products-section__columns .products-section__single-product{
	width: 24%;
	max-width: 230px;
	border-radius: 4px;
	background-color: #f4f8fc;
	height: 295px;
	margin-bottom:20px;
	position: relative;
	margin-right: 20px;
	padding: 0 30px 30px;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.products-section .products-section__columns .products-section__single-product:nth-child(4n){
	margin-right: 0;
}
.products-section__single-product .products-section__single-product-image{
	flex-grow: 2;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.products-section__slider-wrapper{
    margin: 0 auto;
    max-width: 944px;	
}
.products-section__slider{
    margin: 0 auto;
    max-width: 854px;		
}
.products-section__slider .products-section__single-slide img{
	margin:0 auto;
}
.products-section__slider .slick-track{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;	
}
.products-section__single-product-title{
	font-family: 'Gotham Pro Bold';
	color: #009CE5;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 16px;
	margin-bottom: 9px;
}
.products-section__single-product-price{
	color: #afafaf;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 12px;
}
.products-section__single-product-price .products-section__single-product-price-value{
	font-family: 'Gotham Pro Medium';
	color: #2E2E30;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 12px;
}
.products-section__button{
	width: 100%;
    max-width: 190px;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: 'Gotham Pro Bold';
    color: #009CE5;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 14.5px;
    border: 2px solid #19A2EA;
    border-radius: 4px;
    box-sizing: border-box;
}