.products-section{
	padding-bottom: 100px;
}
.products-section .products-section__title{margin-bottom: 55px}
.products-section .products-section__columns{
	margin-top: 33px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.products-section__single-product{
	width: 24%;
	max-width: 230px;
	height: 295px;
	margin-bottom:20px;
	position: relative;
	margin-right: 20px;
}
.products-section__single-product a{
	border-radius: 4px;
	height: 100%;
	width: 100%;
	padding: 0 30px 30px;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
	background-color: #f4f8fc;
	outline: none;
}
.products-section__single-product a:hover{
	background-color: #ffffff;
	outline: none;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,156,236,1);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(0,156,236,1);
	box-shadow: inset 0px 0px 0px 2px rgba(0,156,236,1);
}
.products-section__single-product a:active,
.products-section__single-product a:focus{
	background-color: #e2ecf6;
	outline: none;
	box-shadow:unset;
}
.products-section__single-product.products-section__single-product-blue a{
	background-color: #009CE5;
	outline: none;
}
.products-section__single-product.products-section__single-product-blue a:hover{
	background-color: #0089ff;
	outline: none;
	box-shadow:unset;
}
.products-section__single-product.products-section__single-product-blue a:active,
.products-section__single-product.products-section__single-product-blue a:focus{
	background-color: #0072c1;
	outline: none;
	box-shadow:unset;
}
.products-section .products-section__columns .products-section__single-product:nth-child(5n){
	margin-right: 0;
}
.products-section__single-product .products-section__single-product-image{
	flex-grow: 2;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.products-section__slider-wrapper{
    margin: 0 auto;
    /* max-width: 944px;	 */
}
.products-section__slider{
    margin: 0 auto;
		/* max-width: 700px;		 */
		max-width: 974px;
}
.products-section__slider .slick-prev {
    left: -120px;
}
.products-section__slider .slick-next {
    right: -120px;
}
.products-section__slider .slick-prev:hover:before,
.products-section__slider .slick-prev:focus:before{
    content: url(../img/arrow-left-white.svg);
}
.products-section__slider .slick-next:hover:before,
.products-section__slider .slick-next:focus:before{
	content: url(../img/arrow-right-white.svg);	
}
.products-section__slider .products-section__single-slide img{
	margin:0 auto;
}
.products-section__slider .slick-track{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;	
}
.products-section__single-product-title{
	font-family: 'Gotham Pro Bold';
	color: #009CE5;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 16px;
	margin-bottom: 9px;
}
.products-section__single-product-blue .products-section__single-product-title{
	color: #ffffff;
}
.products-section__single-product-price{
	color: #afafaf;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 12px;
}
.products-section__single-product-blue .products-section__single-product-price{
	color: #ffffffa6;
}
.products-section__single-product-price .products-section__single-product-price-value{
	font-family: 'Gotham Pro Medium';
	color: #2E2E30;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 12px;
}
.products-section__single-product-blue .products-section__single-product-price .products-section__single-product-price-value{
	color: #fff;
}

.products-section__button{
	width: 100%;
    max-width: 190px;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-family: 'Gotham Pro Bold';
    color: #009CE5;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 14.5px;
    border: 2px solid #19A2EA;
    border-radius: 4px;
    box-sizing: border-box;
}
.products-section__button:hover{
	background-color: #009ce5;
	border-color:  #009ce5;
	color: #fff;
}
.products-section__button:active{
	background-color: #008dff;
	border-color:  #008dff;
	color: #fff;
}