.first-section__mobile{display: none;}
.header.header__mobile{display: none;}
.products-section__mobile-buttons-wrapper{display: none;}
.products-section__mobile-button{display: none;}
.how-it-works-section__mobile-button{display: none;}
.print-custom-section-mobile{display: none;}
.customers-selling-section__buttons-wrapper-mobile{display: none;}
.customers-selling-section__phone-lable-mobile{display: none;}
.unified-manufacturing-section__slider-navigation-mobile{display: none;}
.footer__menu-wrapper .footer__menu-title i{display: none;}
.unified-manufacturing-section__single-product-image-mobile{display: none;}
.faq__btn-mobile{display: none;}
.faq__masonry-columns-wrapper-reverse-mobile{display: none;}
.сatalogue-mobile-image{display: none;}
.collection__filters-mobile-label{display: none;}
.collection__single-product-image-mobile{display: none;}

@media(max-width: 1450px) {
	.homepage__main-container {
    max-width: 980px;
	}
	.homepage__header-main-container, .homepage__header-top-section-main-container {
    max-width: 980px;
	}
	.products-section__slider-wrapper {
    max-width: 944px;
	}
	.products-section__slider {
    max-width: 700px;
	}
	.products-section .products-section__columns .products-section__single-product:nth-child(4n) {
    margin-right: 0;
	}
	.products-section .products-section__columns .products-section__single-product:nth-child(5n) {
    margin-right: 20px;
	}
}

@media(max-width: 1400px) {
	.item__main-section {
		max-width: initial;
		padding: 0 20px;
		box-sizing: border-box;
	}



	.item-info__left {
		margin-bottom: 110px;
	}
	
	.item-info__right {
		margin-left: 0;
		margin: auto;
	}

	.item-slider-wrapper-desktop {
		display: table;
		margin: auto;
	}
}

@media(max-width: 1310px){
	.first-section .first-section__column__absolute img{
		width: 60%;
	}
}

@media(max-width: 1280px){
	/* .item-info {
		flex-direction: column;
	} */
	.item-slider-wrapper__desk .slider-for,
	.item-slider-wrapper__desk .slider-for .slick-list,
	.item-slider-wrapper__desk .slider-for .slick-track {
    height: 448px;
	}
	.item-slider-wrapper__desk .slider-for {
    width: 320px;
	}
	.item-slider-wrapper__desk .thumbnail-image {
    height: 220px;
	}

	.item-slider-wrapper__desk .slider-nav {
		width: 154px;
	}
}

@media(max-width: 1100px) {
	.item-info__left {
		display: flex;
		justify-content: center;
    margin-bottom: 45px;
	}

	.item-info {
		flex-direction: column;
	}
	.item__recommended__products-mob {
		display: block;
	}

	.item__recommended__products-desk {
		display: none;
	}
	
	.products-section__slider {
		max-width: initial;
		display: flex;
		align-items: center;
		padding: 0 20px;
	}
	
	.how-it-works-section__row .how-it-works-section__row-text.how-it-works__unified-text {
    margin-top: 0;
	}
	.how-it-works-section__row .how-it-works-section__row-text.how-it-works__your-customers {
    margin-top: 30px;
	}
	.how-it-works-section__column-image img {
		width: 400px;
	}
	.main-container,
	.header__main-container,
	.header__top-section-main-container {
		max-width: 780px;
	}
	.print-custom-section .print-custom-section__title {
		max-width: 200px;
	}

	.print-custom-section__images {
    right: 40px;
    top: 64px;
	}

	.item-breadcrumbs-wrapper {
		max-width: 780px;
		margin: auto;
	}
	.header__main-nav-wrapper .header__main-container nav.header__main-nav > li {	
	    padding-right: 25px;
	}
	.header .header__top-section .header__top-section-main-container .header__top-section-start, .header .header__top-section .header__top-section-main-container .header__top-section-phone {
	    width: 18%;
	}
    .header .header__top-section .header__top-section-main-container .header__top-section-signIn {
	    width: 15%;
	}
	/* .print-custom-section__images img{
		top: 46px;
		width: 100%;
	} */
	.products-section .products-section__columns .products-section__single-product {
    	width: 30%;
    	margin-right: 5%;
    }
		.products-section .products-section__columns .products-section__single-product:nth-child(4n),
		.products-section .products-section__columns .products-section__single-product:nth-child(5n) {
    	margin-right: 5%;
    }
    .products-section .products-section__columns .products-section__single-product:nth-child(3n) {
	    margin-right: 0;
	}
	.products-section__slider-wrapper {
	    max-width: 700px;
	}
	.products-section__slider .slick-next {
    	right: -20px;
	}
	.products-section__slider .slick-prev {
	    left: -20px;
	}
	.testimonials-section__logos .slick-prev,.testimonials-section__logos .slick-next{
		width: 45px;
	}
	.testimonials-section__all-testimonials-wrapper blockquote::before{
		position: relative;
		left: unset;
		top: 0;
		text-align: center;
		display: block;
		line-height: 75px;
    	font-size: 120px;
	}

	.faq__single-column{
		max-width: unset;
		width: 23.5%;
		margin-right: auto;
		padding: 20px;
	}
	.faq__double-width-column {
		max-width: unset;
		width: 49%;
		margin-right: auto;
	}
	.faq__full-width-column{
		width: 100%;
	}
	.сatalogue-main__single-category-right-part {
		padding-right: 30px;
	}
	.collection__search-form {
		width: 25%;
	}
	.сatalogue-main__single-category:nth-child(1) .сatalogue-main__single-category-right-part {
		padding-right: 20px;
	}
	
	.сatalogue-main__single-category:nth-child(2) .сatalogue-main__single-category-right-part {
		padding-right: 20px;
	}
	
	.сatalogue-main__single-category:nth-child(3) .сatalogue-main__single-category-right-part {
		padding-right: 20px;
	}
	
	.сatalogue-main__single-category:nth-child(4) .сatalogue-main__single-category-right-part {
		padding-right: 20px;
	}
	.collection__single-filter{
		width: 90px;
	}
	.collection__categories-wrapper {
		min-width: 180px;
	}
	.collection__single-product{
		width: 30%;
		margin-right: auto;
	}

	.collection__products-wrapper .collection__single-product:hover .collection__single-product-inner-wrapper{
		min-width: calc(100% + 20px);
	}
	.collection__single-product:nth-child(4n) {
	    margin-right: auto;
	}
	.collection__single-product:nth-child(3n){
		margin-right:0;
	}
	.collection__single-product-link {
	    max-width: 98%;
	}
}
@media(max-width: 900px){
	.how-it-works-section__column-image img{
		width: 100%;
	}
}
@media(max-width: 812px){
	.print-custom-section {
		border-radius: 0;
	}
	.item-breadcrumbs-wrapper {
    padding: 25px 20px;
    max-width: initial;
	}
	.header.header__desktop{display: none;}
	.header.header__mobile{display: block;}
	.main-container,
	.header__main-container,
	.header__top-section-main-container,
	.products-section__slider-wrapper{
		max-width: unset;
		width: 100%;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
	}
	.products-section__slider-wrapper{
		padding: 0;
	}
	.header__mobile-top-section{
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		border-bottom: 1px solid #E8E8E8;
		padding: 10px 20px;
		margin-bottom: 63px;
	}

	.header__mobile-top-section-help-text{
	  font-size: 13px;
	  letter-spacing: 0;
	  line-height: 12px;
	}
	.header__mobile-top-section-chat-link{
		border: 0.5px solid #009cec80;
  		border-radius: 6px;
  		font-family: 'Gotham Pro Bold';
		color: #009CEC;
		font-size: 13px;
		letter-spacing: 0;
		line-height: 12px;
		padding: 4px 5px;
	}
	.header__mobile-top-section-contact-us-text{
		font-size: 13px;
		letter-spacing: 0;
		line-height: 12px;
	}
	.header__mobile-top-section-contact-us-link{
		font-family: 'Gotham Pro Bold';
		font-size: 13px;
		letter-spacing: 0;
		line-height: 12px;
		text-decoration: underline;
	}
	.header__mobile-menu-wrapper{
		width: 100%;
		padding: 13px 20px;
		background-color: #FFFFFF;
		position: fixed;
		top: 41px;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		z-index: 999;
		border-bottom: 1px solid #E8E8E8;
	}
	.header__mobile-menu-wrapper.header__mobile-menu-fixed{
		top:0;
	}
	.header__mobile-menu-wrapper > div{
		width: 33%;
	}
	.header__mobile-logo{text-align: center;}
	.header__sign-link{text-align: right;}
	.header__sign-link a{
		font-family: 'Gotham Pro Bold';
		color: #000000;
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 12px;
	}

	/* burger menu */
	.b-a, .bar, .bar:before, .bar:after {
		 transition: all 0.25s;
		 content: "";
		 position: absolute;
		 left: 0;
		 height: 2px;
		 width: 18px;
		 background-color: #000000;
	}
	.bar {
		 left: 20px;
	}
	.bar:before {
		 top: -5px;
	}
	.bar:after {
		 top: 5px;
	}

	.menu-collapsed ul {
		 transition: all 0s;
		 position: fixed;
		 left: -9000px;
	}

	.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
		 transition: all 0.25s;
		 top: 0px;
	}
	.menu-expanded {
		transition: all 0.25s;
		text-align: center;
		height: 100%;
		width: 100%;
		border-radius: 0px;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.85);


		position: fixed;
		z-index: 1000;
		cursor: pointer;
	}
	 .menu-expanded ul {
		transition: all 0s;
		position: relative;
		left: 0;
		z-index: 1002;
		padding: 100px 20px 0 20px;
	}
	 .menu-expanded ul li {
	    text-align: left;
	 }
	 .menu-expanded a {
	 	line-height: 40px;
		text-decoration: none;
		font-size: 16px;
		padding: 0;
		color: #fff;
		display: block;
		font-family: 'Gotham Pro Medium';
		z-index: 1005;
	}
	 .menu-expanded .bar {
		 background-color: transparent;
		 transition: all 0.25s;
		 top:50px;
	}
	 .menu-expanded .bar:before {
		 transform: rotate(45deg);
		 background-color: #ffffff;
	}
	 .menu-expanded .bar:after {
		 transform: rotate(-45deg);
		 background-color: #ffffff;
	}
	/*.header__mobile-menu-fixed .menu-collapsed{
		top: 27px;
	}
	.header__mobile-menu-fixed .bar{top: 31px;}
	.header__mobile-menu-fixed .menu-expanded{
		top: 0;
	}*/
	/* ---------------- */

	/* .print-custom-section__images img {
		top: 35px;
	} */
	.products-section__slider .slick-prev,
	.products-section__slider .slick-next{
		background-color: transparent;
	}
	.products-section__slider .slick-prev:hover:before,
	.products-section__slider .slick-prev:focus:before,
	.products-section__slider .slick-next:hover:before,
	.products-section__slider .slick-next:focus:before {
	    opacity: 1;
	}
	.products-section__slider .slick-prev:hover:before,
	.products-section__slider .slick-prev:focus:before{
	    content: url(../img/arrow-left-gray.svg);
	}
	.products-section__slider .slick-next:hover:before,
	.products-section__slider .slick-next:focus:before{
		content: url(../img/arrow-right-gray.svg);	
	}
	.products-section__slider .slick-next {
    	right: -10px;
	}
	.products-section__slider .slick-prev {
    	left: -10px;
	}	
	.products-section__slider {
	    max-width: 650px;
	}
	/* .customers-selling-section__single-product:nth-child(3n) {
	    margin-right: 0;
	} */
	.customers-selling-section__single-product:nth-child(4n) {
	    margin-right: 20px;
	}
	.unified-manufacturing-section__single-product{
		margin-right: 20px!important;
	}	
	.collection__category-item a{
    	font-size: 13px
	}
	.collection__subcategory-item a {
    	font-size: 11px;
	}
	.collection__categories-wrapper {
	    min-width: 160px;
	}
	.collection__single-product{
		min-width: 180px;
		max-width: 180px;
	}


}

@media(max-width: 767px){
	.breadcrumbs-section__item-page {
		margin-bottom: 10px;
	}

	.item-info__firm,
	.item-info__descr {
		font-size: 20px;
		line-height: 19px;
	}

	.item-info__categ {
		font-size: 12px;
		line-height: 12px;
	}

	.item-info__size {
		margin-bottom: 20px;
	}
	.item-info__name {
    margin-bottom: 10px;
	}

	.item-info__color-item:nth-child(n+9) {
		display: none;
	}

	.item-info__color {
    margin-bottom: 30px;
	}

	.item-info__color-item {
		width: 34px;
		height: 34px;
	}
	.item-info__price-sub-title {
    margin-bottom: 20px;
	}

	.add-design__btn {
		padding: 9px 0;
	}
	
	.item-info__price {
    margin-bottom: 30px;
	}
	.item-info__descrip {
    margin-bottom: 30px;
	}
	.item-reviews__sub-title {
    margin-bottom: 23px;
	}
	.item-reviews__item-title {
		font-size: 14px;
	}
	.item-reviews__item {
		padding: 20px;
	}

	.item-reviews__wrapper {
    margin-bottom: 40px;
	}
	.item-slider__mob-arrows .slick-next {
		right: -20px;
	}

	.item-slider-wrapper__mob {
    position: relative;
    right: 10px;
	}
	.manufacturing-img__mob {
		display: block;
	}
	.manufacturing-img__desk {
		display: none;
	}

	.item-slider-wrapper__mob {
		display: block;
	}
	
	.item-slider-wrapper__desk {
		display: none;
	}

	.how-it-works-section__row .how-it-works-section__row-text.how-it-works__unified-text {
    margin-top: 50px;
	}
	.collection__breadcrumbs-wrapper.item-breadcrumbs-wrapper {
		margin: 0;
	}
	.slick-slider .slick-list{
		margin-right: -20px;
	}
	.products-section__title,
	.how-it-works-section__title,
	.integrate-with-section__title,
	.print-custom-section__title,
	.testimonials-section__title,
	.customers-selling-section__title,
	.unified-manufacturing-section__title{
		font-size: 24px;
		letter-spacing: 0;
		line-height: 24px;
		text-transform: uppercase;
	}

	.first-section__desktop{
		display: none;
	}
	.first-section__mobile{
		display: block;
		background-color: #009CE5;
		color: #fff;
		padding: 58px 0 0 0;
	}
	.first-section__mobile h1{
		max-width: 333px;
		margin: 0 auto;
		font-family: 'Gotham Pro Medium';
		color: #FFFFFF;
		font-size: 22px;
		letter-spacing: 0;
		line-height: 28px;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	.first-section__mobile h4{
		max-width: 335px;
		margin: 0 auto;
		color: #FFFFFF;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 18px;
		margin-bottom: 30px;
	}
	.first-section__mobile-button{
		margin: 0 auto;
		box-sizing: border-box;
    	display: block;
		font-family: 'Gotham Pro Bold';
		font-size: 16px;
		letter-spacing: 0;
		line-height: 45px;
		text-align: center;
		color: #FFFFFF;
		width: 100%;
		max-width: 335px;
		border-radius: 4px;
		background-color: #FF6953;
		padding: 5px 43px;
		text-transform: uppercase;
	}
	.first-section__mobile-button:hover{
		background-color: #ff4b1f;
	}
	.first-section__mobile-button:active{
		background-color: #ff9b82;
	}
	.first-section .first-section__plants{
		margin:50px auto;
	}
	.first-section .first-section__plants .first-section__plants-title{
		margin-bottom: 8px;
		font-family: 'Gotham Pro Medium';
	}
	.first-section .first-section__plants .first-section__plants_markers span{
		font-size: 12px;
		letter-spacing: 0;
		line-height: 15px;
	}
	.first-section__mobile-image{text-align: center;}
	.first-section__mobile-image img{width: 100%;max-width: 350px;}
	.first-section__partners{
  		background-color: #F4F6F8;
  		margin: 0 -20px;
		margin: 0 -20px;
		padding: 24px 20px;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.first-section .first-section__partners img {
	    margin-right: 0;
	}
	.products-section {
		padding: 102px 20px 92px 20px;
	}
	.products-section__slider {
		padding: 0 10px;
	}
	.products-section__slider .slick-arrow {
		position: static;
		height: 18px;
		transform: none;
	}
	.products-section__slider .slick-list{
		margin-right: 0;
		margin: 0 5px;
	}
	.products-section__slider .slick-prev {
	    left: -30px;
	}
	.products-section__slider .slick-next {
	    right: -30px;
	}
	.products-section .products-section__columns .products-section__single-product{
		width: 45%;
	}
	.products-section .products-section__columns .products-section__single-product {
	    max-width: 290px;
	    margin-right: 10px!important;
	}
	.products-section__desktop-button{display: none;}
	.products-section__mobile-button{
		display: block;
		margin: 0;
	}
	.products-section__mobile-buttons-wrapper{
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.products-section__slider-navigation{
		position: relative;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
    	width: 88px;
	}
	.products-section__slider-navigation .slick-next {
	    right: 0;
	}
	.products-section__slider-navigation .slick-prev {
	    left: 0;
	}
	.products-section__slider-navigation .slick-prev,
	.products-section__slider-navigation .slick-next{
		background-color: transparent;
	}
	.products-section__slider-navigation .slick-prev:before,
	.products-section__slider-navigation .slick-next:before{
		color: #000;
	}
	.products-section__slider-navigation .slick-prev:hover,
	.products-section__slider-navigation  .slick-next:hover,
	.products-section__slider-navigation .slick-prev:focus,
	.products-section__slider-navigation  .slick-next:focus
	.products-section__slider-navigation .slick-prev:active,
	.products-section__slider-navigation  .slick-next:active{
	    background: transparent;
	}
	.products-section__slider-navigation:hover::before,
	.products-section__slider-navigation:focus::before,
	.products-section__slider-navigation:hover::before,
	.products-section__slider-navigation:focus::before {
	    color: #00b6ff;
	}

	.products-section__button{
		max-width: 170px;
		padding: 12px;
	}
	.products-section .products-section__title {
    margin-bottom: 40px;
	}

	.how-it-works-section{
		padding-top: 95px;
		padding-bottom: 50px;
	}
	.how-it-works-section__title {
	    padding-bottom: 52px;
	}
	.how-it-works-section__column {
	    width: 100%;
		text-align: center;
	}

	.how-it-works-section__row.how-it-works-section__row-inverse .how-it-works-section__row-text {
    width: 100%;
	}
	.how-it-works-section__row{
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	    -webkit-flex-direction: column-reverse;
	    flex-direction: column-reverse;
	    padding-bottom: 85px;
	}
	.how-it-works-section__row.how-it-works-section__row-inverse {
	    -webkit-flex-direction: column-reverse;
			flex-direction: column-reverse;
			padding-bottom: 55px;
	}
	.how-it-works-section__column-image {
		padding-right: 0;
		/* padding-bottom: 50px; */
		padding-bottom: 10px;
		max-width: 325px;
		margin: 0 auto;
	}

	.how-it-works__unified-image {
		padding-bottom: 0;
	}

	.how-it-works-section__subtitle{
		font-size: 20px;
		line-height: 26px;
		margin: 0 auto;
	}
	.how-it-works-section__row p{
		padding-top: 20px;		
		margin: 0 auto;
		margin-bottom: 35px;
	}
	.how-it-works-section__button{
		display: none;
	}
	.how-it-works-section__mobile-button{
		display: block;
		margin: 30px auto 30px;
		border-radius: 4px;
		background-color: #FF6953;
		max-width: 275px;
		font-family: 'Gotham Pro Bold';
		color: #FFFFFF;
		font-size: 16px;
		letter-spacing: 0;
		line-height: 45px;
		text-align: center;
		text-transform: uppercase;
		padding: 2.5px 0;

	}
	.how-it-works-section__single-logo {
		width: 50%;
	}
	.how-it-works-section__logos{
		padding-bottom: 0;
		margin: 0 auto;
	}
	.how-it-works-section__logos img {
		width: unset;
		height: unset;
		object-fit: unset;
		max-height: unset;
		margin-bottom: 30px;
	}
	.integrate-with-section{
		padding: 80px 20px;
	}
	.integrate-with-section__images-wrapper{
		margin: 40px auto 0;
	}
	.integrate-with-section__single-logo {
		width: 50%;
		margin-bottom: 30px;
	}
/* 
	.print-custom-section-desktop{
		display: none;
	} */
	/* .print-custom-section-mobile{
		display: block;
		border-radius: unset;
		padding: 48px 20px 0 20px;
		color: #fff;
		background-color: #009CE5;
	} */



	/* .print-custom--section__wrapper{
		-webkit-flex-direction: column;
		flex-direction: column;
	} */

	.print-custom-section .print-custom-section__title{
		text-align: left;
		line-height: 30px;
    max-width: 300px;
	}

	.print-custom-section__images {
    top: 142px;
    width: 100%;
    display: flex;
    justify-content: center;
    right: 0;
	}

	.print-custom-section {
		padding: 50px 20px 190px;
	}
	.print-custom-section__images img {
		position: static;
		margin: 0;
	}

	.print-custom-section_item {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
		padding-top: 22px;
		padding-bottom: 25px;
		justify-content: space-between;
		font-size: 12px;
	}

	.print-custom-section_item-white img {
		width: 76px;
	}	

	.print-custom-section_item-blue img {
		width: 120px;
	}	


	.print-custom-section_item .coming-soon-label {
    right: 0px;
    left: 0;
    margin: auto;
    width: 93px;
    font-size: 12px;
    padding: 5px 0;
	}

	.testimonials-section {
    	padding: 133px 20px 70px 20px;
	}
	.testimonials-section__title-row{
		padding: 0 0 30px 0;
	}
	.testimonials-section__about-us-link{
		font-size: 14px;
		line-height: 13px;
	}
	.testimonials-section__all-testimonials-wrapper{
		padding: 25px 20px 40px 20px;
	}
	.testimonials-section__all-testimonials-wrapper blockquote{
	    font-size: 12px;
	    line-height: 18px;
	    padding: 15px 0 0;
	    max-width: 226px;
	    margin: 0 auto;
	}
	.testimonials-section__all-testimonials-wrapper blockquote::before{
		font-size: 84px;
		line-height: 35px;
		position: relative;
		left: unset;
		top: 0;
		text-align: center;
		display: block;
	}
	.testimonials-section__blue-selection{display: none;}
	.testimonials-section__logos .slick-prev {
	    left: -20px;
	}
	.testimonials-section__logos .slick-next{
		right: -20px;
	}
	.testimonials-section__logos {

    	margin-top: 30px;
	}
	.testimonials-section__logos .slick-prev, .testimonials-section__logos .slick-next {
	    top:-110px;
	}
	.testimonials-section__testimonials-slider.slick-slider .slick-list,
	.testimonials-section__logos.slick-slider .slick-list {
	    margin-right: 0;
	}
	.testimonials-section__logos.slick-slider .slick-list{
		max-width: 300px;
		margin: 0 auto;
	}
	.customers-selling-section{
		padding: 64px 0;
	}
	.customers-selling-section__title{
		text-align: left;
		max-width: 258px;
		line-height: 30px;
	}
	.customers-selling-section__single-product{
		margin-right: 10px!important;
	}
	.customers-selling-section__contact-info {
	    margin-top: 76px;
	    border-radius: unset;
	    background-color: transparent;
	    padding: 0;
	    text-align: left;
	    color: #fff;
	}
	.customers-selling-section__buttons-wrapper-desktop{
		display: none;
	}
	.customers-selling-section__buttons-wrapper-mobile{
    	display: -webkit-flex;
    	display: flex;
    	margin-top: 20px;
	}
	.customers-selling-section__title-row{
		display: block;
		margin-bottom: 30px;
	}
	.customers-selling-section__socials{
		display: none;
	} 
	.customers-selling-section__slider-navigation{
		margin-left: unset;
		margin-right: 0;
		width: 88px;
	}
	.customers-selling-section__contact-info h3{
		font-family: 'Gotham Pro Medium';
		color: #FFFFFF;
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		text-transform: uppercase;
	}
	.customers-selling-section__contact-info h3 span{
		opacity: 0.5;
	}
	.customers-selling-section__phone-lable-mobile{
		display: block;
		font-family: 'Gotham Pro Medium';
		font-size: 16px;
		letter-spacing: 0;
		line-height: 20px;
		margin-bottom: 7px;
	}
	.customers-selling-section__phone{
	   padding: 45px 0 0;
	}
	.customers-selling-section__phone a{
		color: #fff;
		font-size: 30px;
		letter-spacing: 0;
		line-height: 29px;
	}
	.customers-selling-section__phone a .fa-phone-alt{
		font-size: 20px;
	}
	.unified-manufacturing-section{
		padding: 60px 20px;
	}
	.unified-manufacturing-section__slider-navigation-desktop{
		display: none;
	}
	.unified-manufacturing-section__slider-navigation-mobile{
    	display: -webkit-flex;
    	display: flex;
    	margin-top: 20px;
	}
	.unified-manufacturing-section__title-row{
		display: block;
		margin-bottom: 30px;
	}
	.unified-manufacturing-section__title{
		line-height: 30px;
		max-width: 295px;
		text-align: left;
	}
	.unified-manufacturing-section__link{
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 12px;
		max-width: 170px;
		padding: 12px;
	}
	.unified-manufacturing-section__slider-navigation{
		margin-left: unset;
		margin-right: 0;
		width: 78px;		
	}
	.unified-manufacturing-section__single-product.unified-manufacturing-section__single-product-double-width {
	    width: 24%;
	    max-width: 290px;
	}
	.unified-manufacturing-section__single-product{
		margin-right: 10px!important;
		max-width: 290px;
	}
	.unified-manufacturing-section__single-product-double-width .unified-manufacturing-section__single-product-image-desktop{
		display: none;
	}
	.unified-manufacturing-section__single-product-double-width .unified-manufacturing-section__single-product-image-mobile{
		display: -webkit-flex;
		display: flex;
	}
	.unified-manufacturing-section__single-product-double-width .unified-manufacturing-section__single-product-image img {
	    position: relative;
	    right: unset;
	    bottom: unset;
	    height: auto;
	}


	.footer{
		padding: 40px 42px 30px;
	}
	.footer .main-container{
		padding: 0;
	}
	.footer__row{
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.footer__row .footer__menu-wrapper {
    	width: 100%;
    	max-width: 290px;
    	margin: 0 auto;
	}
	.footer__menu-wrapper .footer__menu-title{
		margin-bottom: 15px;
		border-radius: 4px;
  		background-color: #3C3C3F;
  		padding: 14px 25px;
  		position: relative;
	}
	.footer__menu-wrapper .footer__menu-title i{
		display: inline-block;
		position: absolute;
		right: 25px;
	}
	.footer__row .footer__menu-wrapper .footer__nav{
		border-radius: 4px;
  		background-color: #3C3C3F;
  		padding: 14px 25px;
		margin-bottom: 15px;
		display: none;
	}
	.footer__row .footer__contact-info {
	    width: 100%;
	    text-align: center;
	    -webkit-align-items: center;
		align-items: center;
	}
	.footer__contact-info .footer__payments-logos{
		max-width: 273px;
		margin-top: 20px;
		margin-bottom: 65px;
		text-align: left;
	}
	.footer__contact-info .footer__payments-logos img {
		margin-right: 55px;
	}
	.footer__copyright-socials-wrapper{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;

	}
	.footer__contact-info .footer__copyright {
	    margin-bottom: 0;
	    margin-top: 42px;
	}
	.products-section .slick-prev:hover::before,
	.products-section__slider-navigation .slick-prev:hover::before{
		content: url(../img/arrow-left-light-blue.svg);
	}
	.products-section .slick-prev:focus::before,
	.products-section__slider-navigation .slick-prev:focus::before{
		content: url(../img/arrow-left-blue.svg);
	}
	.products-section .slick-next:hover::before,
	.products-section__slider-navigation .slick-next:hover::before{
		content: url(../img/arrow-right-light-blue.svg);
	}
	.products-section .slick-next:focus::before,
	.products-section__slider-navigation .slick-next:focus::before{
		content: url(../img/arrow-right-blue.svg);
	}
	.faq__first-section{
		padding: 164px 0 70px 0;
		background-image: url(../img/faq-first-section-background-mobile.png);
	    margin-bottom: 20px; 
	}
	.faq__single-column{
		width: 48%;
	}
	.faq__double-width-column{
	    width: 100%;
	}
	.faq__full-width-column {
	    width: 100%;
	}
	.faq__first-section .faq__first-section-title{
		font-size: 24px;
		letter-spacing: 0;
		line-height: 30px;
		max-width: 176px;
	}
	.faq__first-section-title span{
		color:#FF6953;
	}
	.faq__search-form{    max-width: 335px;}
	.faq__search-form input[type="text"]{
		background-color: #fff; 
	}
	.faq__search-form button[type="submit"]{
		max-width: 55px;
	}
	.faq__search-form button[type="submit"] i {
    	padding-right: 0;
	}
	.faq__btn-desktop{display: none;}
	.faq__btn-mobile{display: block;}
	.faq__single-column{
		min-height: 266px;
	}
	.faq__single-column-texts-wrapper{
		padding-right: 20px;
	}
	.faq__single-column-text{
		-webkit-line-clamp: 3;
	}
	.faq__single-blue-column .faq__single-column-title{
		margin-bottom: 15px;
	}
	.faq__single-column-title{
		line-height: 22px;
	}
	.faq__single-column-link{
		font-family: 'Gotham Pro Regular';
		bottom: 20px;
		font-size: 10px;
	    line-height: 10px;
	}
	.faq__single-column-link::after{
		font-size: 29px;
	}
	.faq__masonry-columns-wrapper-reverse-desktop{display: none;}
	.faq__masonry-columns-wrapper-reverse-mobile{display: -webkit-flex;display: flex;}
	.faq__double-width-sub-columns-wrapper .faq__double-width-sub-column:nth-child(1){width: 55%;}
	.faq__double-width-sub-columns-wrapper .faq__double-width-sub-column:nth-child(2){width: 45%;}
	.faq__single-column.faq__full-width-column{
		min-height: 555px;
	}
	.faq__full-width-column-image {
	    top: unset;
	    bottom: 0;
	}
	.faq__full-width-column-image img {
	    max-width: 210px;
	    border:unset;
	    border-bottom: 2px solid #F4F8FC;
	    border-right: 2px solid #F4F8FC;
	}
	.faq__single-column.faq__full-width-column:hover .faq__full-width-column-image img{
	    border: unset;
	    border-bottom: 2px solid rgba(0,156,236,1);
	    border-right: 2px solid rgba(0,156,236,1);
	}
	.faq__single-column-category-link{
	    padding-right: 0;
	    display: inline-block;
	    float: left;
	    width: 50%;
	}
	.faq__full-width-column .faq__single-column-link{
	    position: relative;
	    display: block;
	    top: 33px;
	    bottom: unset;
	    clear: both;
	}
	.faq__quote-link{
		margin: 10px auto 0;
    	max-width: 335px;
	}
	.print-custom-section-mobile{
		padding: 45px 20px 60px 20px;
	}
	.print-custom-section-faq-page .print-custom-section__mobile-images img{
		top: 15px;
	}
	.сatalogue-main__first-section{
		padding: 26px 20px 60px 20px;
	}
	.сatalogue-main__single-category{
		width: 100%;
		max-width: 355px;
		margin:0 auto 10px;
	}
	.сatalogue-main__single-category-right-part{
		padding-right: 10px;
	}
	.сatalogue-main__single-category-left-part{
		width: 50%;
	}
	.сatalogue-main__single-category-right-part{
		width: 50%;
	}
	.сatalogue-main__single-category:nth-child(3) .сatalogue-main__single-category-right-part {
    padding-right: 10px;
	}
	.сatalogue-mobile-image{
		display: block;
	}
	.сatalogue-main__desktop-image{
		display: none;
	}
	.сatalogue-main__single-blue-color .сatalogue-main__single-category-right-part{
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	.сatalogue-main__single-blue-color .сatalogue-main__single-category-title{width: 120%;}
	.сatalogue-main__search-form{
		max-width: 355px;
		margin: 0 auto;
	}
	.collection__first-section{
		padding: 0 20px 62px 20px;
	}
	.collection__count-products{
		display: none;
	}
	.collection__breadcrumbs-wrapper{
		background-color: #F4F8FC;
		margin: 0 -20px;
		padding: 24px 20px;
	}
	.collection__breadcrumb-item a, .collection__breadcrumb-item span{
		font-size: 12px;
		line-height: 12px;
	}
	.collection__search-filter-wrapper{
		padding: 25px 0;
		margin-bottom: 23px;
	}
	.collection__filters-mobile-label{
		display: block;
		cursor: pointer;
	}
	.collection__filters-mobile-label span{
		font-family: 'Gotham Pro Medium';
		color: #3C3D41;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 13px;
		text-align: right;
		margin-right: 15px;
	}
	.collection__search-form {
    	width: 50%;
	}	
	.collection__filters-inner-wrapper{
		display: none;
		position: absolute;
		left: 0px;
		background: #fff;
    	z-index: 2;
	    padding: 25px 20px 0 20px;
	    width: 100%;
	}
	.collection__categories-wrapper{
		display: none;
	}
	.collection__single-filter{
		margin-bottom: 10px;
		width: 100%;
		margin-left: 0;
	}
	.collection__products-wrapper {
		width: 100%;
		max-width: 355px;
		margin: 0 auto;
	}

	.collection__products-wrapper__two-items {
    max-width: initial;
	}

	.collection__products-wrapper__two-items .collection__products-list {
		justify-content: space-between;
	}

	.collection__products-wrapper__two-items .collection__single-product {
		width: calc((100% - 20px)/2);
		max-width: none;
		min-height: initial;
		margin: 0 0 30px;
	}

	.collection__products-wrapper__two-items .collection__single-product-image {
    min-height: initial;
    height: 300px;
	}

	.collection__products-wrapper__two-items .collection__single-product-image-mobile img {
    width: auto;
    height: 300px;
	}

	.collection__products-wrapper__two-items .collection__single-product-price-value__small {
		font-size: 16px;
	}

	.collection__products-wrapper__two-items .collection__single-product-title span {
    margin-left: 3px;
	}

	/* .collection__products-wrapper__two-items .collection__single-product-title {
		font-size: 12px;
	} */

	.collection__products-wrapper__two-items .collection__single-product-price {
		justify-content: flex-start;
		align-items: baseline;
		order: -1;
    margin-bottom: 8px;
	}

	.collection__products-wrapper__two-items .collection__single-product-price-value {
    margin-left: 7px;
	}

	.collection__products-wrapper__two-items .collection__single-product-info {
		padding-top: 15px;
	}

	.collection__products-wrapper .collection__single-product{
		width: 100%;
		max-width: 355px;
		margin: 0 auto 30px;
		margin-right: 0!important;
		min-height: 495px;
		min-width: unset;
	}
	.collection__single-product.collection__single-product-hidden-mobile{display: none;}
	/* .collection__single-product:hover .collection__single-product-inner-wrapper{
		min-height: 600px;
	} */
	.collection__single-product:hover .collection__single-product-additional-info{width: 100%;padding-right: 20px;}
	.collection__single-product-image-mobile{display: -webkit-flex; display: flex;}
	.collection__single-product-image-desktop{display: none;}
  .collection__products-wrapper .collection__single-product-image{min-height: 444px;overflow: hidden;}
	/*.collection__single-product-image img{min-height: 444px;}*/
	.collection__products-wrapper .collection__single-product-price{
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
	}
	.collection__products-wrapper .collection__single-product-price,
	.collection__products-wrapper .collection__single-product-size-label,
	.collection__products-wrapper .collection__single-product-colors{
		font-size: 12px;
		line-height: 12px;
	}
	.collection__products-wrapper .collection__single-product-price-value{
		font-size: 20px;
		line-height: 19px;
	}

	.collection__products-wrapper .collection__single-product-title{
		font-size: 14px;
		line-height: 13px;
	}
	.collection__single-product-link {
    	max-width: 200px;
	}
	.collection__page-item>a{
		height: 30px;
		width: 30px;
		line-height: 30px;
	}
	.collection__pagination-prev a,
	.collection__pagination-next a {
		min-width: 90px;
		padding: 10px 10px;
	}
	.collection__pagination-prev a {
    	margin-right: 5px;
	}
	.collection__pagination-next a{
		margin-left: 5px;
	}
	.collection__single-product-title.margin_bottom--12 {
    margin-bottom: 0;
	}
	.item-info__anchors li:not(:last-child) {
    margin-right: 30px;
	}
	.item-info__materials-wrapper {
		overflow-x: scroll;
	}
}


@media(max-width: 520px) {
	.item-info__right {
		max-width: 100%;
	}
}

@media(max-width: 450px) {
	.collection__products-wrapper__two-items .collection__single-product-image {
		height: 200px;
	}

	.collection__products-wrapper__two-items .collection__single-product-image-mobile img {
		height: 200px;
	}

	.print-custom-section_item {
		width: 140px;
		/* font-size: 13px; */
	}
}

@media(max-width: 400px) {
	.collection__products-wrapper__two-items .collection__single-product {
		width: calc((100% - 5px)/2);
		max-width: none;
		min-height: initial;
		margin: 0 0 30px;
	}
}

@media(max-width: 388px){
	.print-custom-section__mobile-images img{
		top: 53px;
	}
}

@media(max-width: 380px) {
	.how-it-works__customers-bg-mob {
		display: block;
	}

	.how-it-works__your-customers {
		padding: 0 30px;
	}
}

@media(max-width: 350px){
	.print-custom-section__mobile-images img{
		top: 53px;
	}
	.products-section__slider .slick-next {
		right: -10px;
	}
	.products-section__slider .slick-prev {
		left: -10px;
	}
	.testimonials-section__logos .slick-prev, .testimonials-section__logos .slick-next {
		background-color: transparent;
	}
	.testimonials-section__all-testimonials-wrapper blockquote{max-width: 200px;}
	.footer__contact-info .footer__payments-logos img {
		margin-right: 35px;
	}
	.header__mobile-top-section-help-text,
	.header__mobile-top-section-help-text,
	.header__mobile-top-section-contact-us-link,
	.first-section .first-section__plants .first-section__plants_markers span{
		font-size: 11px;
		line-height: 11px;
	}
	.faq__single-column-title{
		font-size: 16px;
	}
	.faq__single-column{
		padding: 15px;
	}
	.faq__single-column-category-link{
		font-size: 11px;
	}
	.faq__double-width-column:nth-child(2) .faq__double-width-sub-columns-wrapper .faq__double-width-sub-column:nth-child(2) img{
		width: 100%;
	}
	.сatalogue-main__single-category-title{
		font-size: 16px;
	}
	.сatalogue-main__single-category-left-part {
		padding: 0 0 20px 20px;
	}
	.сatalogue-main__single-category-right-part {
		width: 45%;
	}
	.collection__page-item>a{
		height: 24px;
		width: 24px;
		line-height: 24px;
	}
	.collection__pagination-prev a,
	.collection__pagination-next a {
		min-width: 70px;
		padding: 7px 10px;
	}
	.collection__breadcrumb-item a, .collection__breadcrumb-item span {
		font-size: 11px;
		line-height: 11px;
	}
	.collection__breadcrumb-item {
		padding: 0 6px;
	}
	.collection__breadcrumb-item:after{
		padding-left: 6px;
	}
}

@media(max-width: 320px){
	.print-custom-section__mobile-images img{
		top: 45px;
	}
}

/* height media for opened mobile hamburger menu */
@media(max-height: 400px) {
	.menu-expanded ul {
    padding: 46px 20px 0 20px;
	}
	.menu-expanded .bar {
    top: 28px;
	}
	.menu-expanded a {
		line-height: 37px;
	}
}
