.testimonials-section{
	padding: 128px 0 144px;
}
.testimonials-section__title-row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 50px 33px;	
}
.testimonials-section__about-us-link{
	font-family: 'Gotham Pro Medium';
	color: #009DF3;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 17px;
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
.testimonials-section__about-us-link i{
	padding-left: 5px;
}
.testimonials-section__about-us-link:hover{
	color: #0089ff;
}
.testimonials-section__about-us-link:active{
	color: #0072c1;
}

.testimonials-section__logos .slick-prev {
	left: -10px;
}
.testimonials-section__logos .slick-next {
	right: -10px;
}


.testimonials-section__all-testimonials-wrapper{
	border: 3px solid #F4F8FC;
	border-radius: 4px;
	padding: 40px 60px 48px;
	position: relative;
}
.testimonials-section__all-testimonials-wrapper blockquote{
	font-family: 'Gotham Pro Medium';
	color: #2E2E30;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 26px;
	text-align: center;
	/* max-width: 700px; */
	max-width: 955px;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
}
.testimonials-section__all-testimonials-wrapper blockquote::before,
.swaggin-testimonials-section__testimonials-slider blockquote::before {
	content: "‘’";
	font-family: 'Gotham Pro Medium';
	color: #8FA3B6;
	font-size: 128px;
	letter-spacing: 0;
	line-height: 122px;
	text-align: center;
	opacity: 0.28;
    position: absolute;
	left: -80px;
    top: -15px;
}
.testimonials-section__logos{
	margin-top: 50px;
}
.testimonials-section__logos .slick-track{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.testimonials-section__logos .testimonials-section__single-logo{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.testimonials-section__blue-selection{
	position: absolute;
	border-radius: 6px;
    background-color: #009DF3;
    height: 80px;
    width: 140px;
    bottom: 34px;
    left: 50%;
    transform: translate(-50%);
}
.testimonials-section__logos .slick-prev,
.testimonials-section__logos .slick-next{
	background-color: #FFFFFF;
	width: 60px;
	z-index: 99;
	height: 100%;
}
.testimonials-section__logos .slick-prev::before{
	content: url(../img/arrow-left-black.svg);
}
.testimonials-section__logos .slick-next::before{
	content: url(../img/arrow-right-black.svg);
}
.testimonials-section__logos .slick-prev:hover:before{
	content: url(../img/arrow-left-light-blue.svg);
}
.testimonials-section__logos .slick-prev:focus:before{
    content: url(../img/arrow-left-blue.svg);
}
.testimonials-section__logos .slick-next:hover:before{
	content: url(../img/arrow-right-light-blue.svg);	
}
.testimonials-section__logos .slick-next:focus:before{
	content: url(../img/arrow-right-blue.svg);
}