.why-choose-first-section {	
	background: #D3DFF7;
	padding: 113px 0 107px 0;
	overflow: hidden;
}
.why-choose-first-section__row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;	
}
.why-choose-first-section__column-text{
	width: 60%;
}
.why-choose-first-section__column-image-desktop{
	width: 40%;
}
.why-choose-first-section__title{
	font-family: "Gotham Pro Bold";
	font-size: 34px;
	letter-spacing: 0;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 17px;
}
.why-choose-first-text {
	font-family: "Gotham Pro Regular";
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 39px;
}
.why-choose-first-section__title span{
	color: #FF5C48;
	display: block;
	margin-top: 4px;
}
.why-choose-first-section__column-text{
	max-width: 500px;
}

.why-choose-first-section__partners img {
    margin-right: 26px;
}
.why-choose-first-section__image-wrapper{
	position: relative;
}
.why-choose-first-section__image-wrapper img{
	position: absolute;
	right: -197px;
	bottom: -255px;
	height: auto;
	width: 557px;
}
.why-choose-second-section{
	padding: 80px 0 34px 0;
}
.why-choose-second-section__row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: stretch;
	align-items: stretch;
}
.why-choose-second-section__column{
	width: 49%;
	max-width: 480px;
}
.why-choose-second-section__title-wrapper{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
.why-choose-second-section__title,
.why-choose-third-section__title,
.why-choose-fourth-section__title,
.why-choose-fifth-section__title,
.why-choose-sixth-section__title{
	font-family: "Gotham Pro Medium";
	font-size: 30px;
	letter-spacing: 0;
	line-height: 29px;
	text-transform: uppercase;
}
.why-choose-second-section__column .why-choose-second-section__title{
	margin-bottom: 30px;
	padding-left: 20px;
}
.why-choose-second-section__column-comparison-inner-wrapper{
	border-radius: 4px;
	background-color: #F4F8FC;
	padding: 32px 12px 25px 12px;
}
.why-choose-second-section__blog-slider{
	flex: 1;
	border-radius: 4px;
	background-color: #F4F8FC;
}
.why-choose-second-section__blog-slider .slick-list,
.why-choose-second-section__blog-slider .slick-track{
	height: 100%;
}
.why-choose-second-section__column-comparison-inner-wrapper p{
	padding: 0 20px;
	margin-bottom: 26px;
	line-height: 26px;
	font-size: 16px;

}
.why-choose-second-section__single-comparison{
	border-radius: 4px;
	background-color: #FFFFFF;
	padding: 20px 18px 20px 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;	
	-webkit-align-items: center;
	align-items: center;
}
.why-choose-second-section__single-comparison:not(:last-child) {
	margin-bottom: 12px;
}
.why-choose-second-section__single-comparison-title{
	font-family: "Gotham Pro Medium";
	font-size: 16px;
	letter-spacing: 0;
	line-height: 16px;
	text-transform: uppercase;

}
.why-choose-second-section__single-comparison-title span{
	color: #FF5C48;
}
.why-choose-second-section__single-comparison-link{
	font-size: 12px;
	line-height: 18px;
	font-family: "Gotham Pro Medium";
	color: #000;
	position: relative;
	padding-right: 15px;
}
.why-choose-second-section__single-comparison-link:after{
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    width: 9px;
    height: 9px;
    position: absolute;
    background-image: url(../img/arrow-right-black.svg);
    right: 0;
    top: 5px;
    opacity: 0.7;
}
.why-choose-second-section__column-blog{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;	
}
.why-choose-second-section__blog-single-slide{
	height: 100%;
	display: -webkit-flex!important;
	display: flex!important;
	-webkit-flex-direction: column;
	flex-direction: column;	
}
.why-choose-second-section__blog-single-slide img{
	width: 100%;
}

.why-choose-second-section__blog-single-slide-main-info{
	padding: 30px 30px;
	flex:1;
	position: relative;
}
.why-choose-second-section__blog-single-slide-title{
	color: #2E2E30;
	font-family: "Gotham Pro Bold";
	font-size: 18px;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.why-choose-second-section__blog-single-slide-excerpt{
	color: #2E2E30;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 26px;
	font-family: "Gotham Pro Regular";
}
.why-choose-second-section__blog-single-slide-meta{
    position: absolute;
    bottom: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: calc(100% - 60px);
}
.why-choose-second-section__blog-single-slide-meta-autor{
	color: #2E2E30;
	font-family: "Gotham Pro Medium";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 24px;
}
.why-choose-second-section__blog-single-slide-meta-date{
	opacity: 0.3;
	color: #2E2E30;
	font-family: "Gotham Pro Medium";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 24px;
	text-align: right;
}
.why-choose-second-section__slider-navigation,
.why-choose-fourth-section__slider-navigation{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	width: 76px;
	margin-right: 30px;
}
.why-choose-second-section__slider-navigation .slick-prev,
.why-choose-second-section__slider-navigation .slick-next,
.why-choose-fourth-section__slider-navigation .slick-prev,
.why-choose-fourth-section__slider-navigation .slick-next,
.why-choose-fifth-section__slider-navigation .slick-prev,
.why-choose-fifth-section__slider-navigation .slick-next,
.why-choose-sixth-section__slider-navigation .slick-prev,
.why-choose-sixth-section__slider-navigation .slick-next{
    position: relative;
    top: -7px;
    right: unset;
    background-color: transparent;
    width: auto;
    height: auto;
}
.why-choose-second-section__slider-navigation .slick-prev,
.why-choose-fourth-section__slider-navigation .slick-prev,
.why-choose-fifth-section__slider-navigation .slick-prev,
.why-choose-sixth-section__slider-navigation .slick-prev{
    left: 0;
}
.why-choose-second-section__slider-navigation .slick-next:before,
.why-choose-fourth-section__slider-navigation .slick-next:before,
.why-choose-fifth-section__slider-navigation .slick-next:before,
.why-choose-sixth-section__slider-navigation .slick-next:before{
	content: url(../img/arrow-right-black.svg);
}
.why-choose-second-section__slider-navigation .slick-next:hover::before,
.why-choose-fourth-section__slider-navigation .slick-next:hover::before,
.why-choose-fifth-section__slider-navigation .slick-next:hover::before,
.why-choose-sixth-section__slider-navigation .slick-next:hover::before{
    content: url(../img/arrow-right-light-blue.svg);
}
.why-choose-second-section__slider-navigation .slick-next:focus::before,
.why-choose-fourth-section__slider-navigation .slick-next:focus::before,
.why-choose-fifth-section__slider-navigation .slick-next:focus::before,
.why-choose-sixth-section__slider-navigation .slick-next:focus::before{
    content: url(../img/arrow-right-blue.svg);
}
.why-choose-second-section__slider-navigation .slick-prev:before,
.why-choose-fourth-section__slider-navigation .slick-prev:before,
.why-choose-fifth-section__slider-navigation .slick-prev:before,
.why-choose-sixth-section__slider-navigation .slick-prev:before{
	content: url(../img/arrow-left-black.svg);	
}
.why-choose-second-section__slider-navigation .slick-prev:hover::before,
.why-choose-fourth-section__slider-navigation .slick-prev:hover::before,
.why-choose-fifth-section__slider-navigation .slick-prev:hover::before,
.why-choose-sixth-section__slider-navigation .slick-prev:hover::before{
	content: url(../img/arrow-left-light-blue.svg);	
}
.why-choose-second-section__slider-navigation .slick-prev:focus::before,
.why-choose-fourth-section__slider-navigation .slick-prev:focus::before,
.why-choose-fifth-section__slider-navigation .slick-prev:focus::before,
.why-choose-sixth-section__slider-navigation .slick-prev:focus::before{
	content: url(../img/arrow-left-blue.svg);	
}
.why-choose-third-section .why-choose-third-section-wrapper{
	border-radius: 4px;
	background-color: #F4F8FC;
	padding: 60px 60px 55px 60px;
	margin-bottom: 80px;
}
.why-choose-third-section .why-choose-third-section__title{
	line-height: 34px;
	margin-bottom: 60px;
}
.why-choose-third-section .why-choose-third-section__title span{
	color: #00A4FF;
}
.why-choose-third-section__row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;	
}
.why-choose-third-section__column{
	width: 32%;
	max-width: 260px;
}
.why-choose-third-section__column-icon{
	margin-bottom: 25px;
}
.why-choose-third-section__column-title{
	font-family: "Gotham Pro Bold";
	font-size: 15px;
	letter-spacing: -0.28px;
	line-height: 20px;
	margin-bottom: 6px;
	text-transform: uppercase;
}
.why-choose-third-section__column-content{
	color: #9BA5B5;
	font-size: 14px;
	line-height: 22.1px;
}

.why-choose-fourth-section{
	margin-bottom: 78px;
}
.why-choose-fourth-section__title-row{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    margin-bottom: 35px;
}
.why-choose-fourth-section .why-choose-fourth-section__title{
	padding-left: 30px;
}
.why-choose-fourth-section__buttons-wrapper{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.why-choose-fourth-section__link-desktop{
	width: 140px;
	height: 33px;
	border-radius: 4px;
	background-color: #FF4B3B;
	color: #FFFFFF;
	font-family: "Gotham Pro Bold";
	font-size: 10px;
	letter-spacing: 0;
	line-height: 33px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 40px;
}
.why-choose-fourth-section__buttons-wrapper .why-choose-fourth-section__slider-navigation .slick-prev,
.why-choose-fourth-section__buttons-wrapper .why-choose-fourth-section__slider-navigation .slick-next{
	top:7px;
}
.why-choose-fourth-section__single-news{
	width: 49%;
	max-width: 480px;
	margin-right: 20px;
	border-radius: 4px;
  	background-color: #F4F8FC;
  	padding: 30px;
  	min-height: 300px;
  	position: relative;
}
.why-choose-fourth-section__single-news-blue{
	background-color: #009CE5;
}
.why-choose-fourth-section__news-title{
	color: #009CE5;
	font-family: "Gotham Pro Bold";
	font-size: 18px;
	letter-spacing: 0;
	line-height: 28px;
	margin-bottom: 24px;
}
.why-choose-fourth-section__single-news-blue .why-choose-fourth-section__news-title{
	color: #fff;
}
.why-choose-fourth-section__news-location{
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 5px;
}
.why-choose-fourth-section__news-date{
	font-family: "Gotham Pro Medium";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
}
.why-choose-fourth-section__single-news-blue .why-choose-fourth-section__news-location{
	color: #fff;	
}
.why-choose-fourth-section__single-news-blue .why-choose-fourth-section__news-date{
	color: #fff;	
}
.why-choose-fourth-section__news-link{
	position: absolute;
	bottom: 30px;
	color: #000;
	font-family: "Gotham Pro Medium";
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	padding-right: 15px;
}
.why-choose-fourth-section__news-link:after{
	content: '';
    background-repeat: no-repeat;
    background-size: contain;
    width: 9px;
    height: 9px;
    position: absolute;
    background-image: url(../img/arrow-right-black.svg);
    right: 0;
    top: 5px;
}
.why-choose-fourth-section__single-news-blue .why-choose-fourth-section__news-link{
	color: #fff;	
}
.why-choose-fourth-section__single-news-blue .why-choose-fourth-section__news-link:after{
	background-image: url(../img/arrow-right-white.svg);	
}
.why-choose-fifth-section{
	padding-bottom: 100px;
}
.why-choose-fifth-section__title-row,
.why-choose-fifth-section__slider-navigation,
.why-choose-sixth-section__row,
.why-choose-sixth-section__slider-navigation{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;	
}
.why-choose-fifth-section__slider-navigation,
.why-choose-sixth-section__slider-navigation{
	width: 76px;
	margin-right: 30px;
}
.why-choose-sixth-section__slider-navigation{
	margin-right: 0;
}
.why-choose-fifth-section__title-row{
	margin-bottom: 33px;
}
.why-choose-fifth-section__title{
	padding-left: 30px;
}
.why-choose-fifth-section__slider-navigation .slick-prev,
.why-choose-fifth-section__slider-navigation .slick-next{
	top:7px;
}
.why-choose-fifth-section__single-slide{
	width: 19%;
	max-width: 188px;
	margin-right: 10px;
	border-radius: 4px;
	position: relative;
}
.why-choose-fifth-section__single-slide img{
	width: 100%;
}
.why-choose-fifth-section__slide-label{
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fff;
	cursor: pointer;
	font-family: "Gotham Pro Medium";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 13px;
}
.why-choose-fifth-section__slide-label i{
	margin-right: 5px;
}
.why-choose-sixth-section{
	padding-bottom: 63px
}
.why-choose-sixth-section__title{
	padding-left: 30px;
	margin-bottom: 40px;
}
.why-choose-sixth-section__reviews{
	border-radius: 4px;
}
.why-choose-sixth-section__row{
	border: 5px solid #F4F8FC;
	padding: 40px 55px;
}
.why-choose-sixth-section__reviews_slider{
	background-color: #F4F8FC;
}
.why-choose-sixth-section__single-slide{
	width: 40%;
	max-width: 480px;
	margin-right: 20px;
	padding-top: 40px;
	padding-bottom: 50px;
}
.why-choose-sixth-section__single-slide:nth-child(odd){
	padding-left: 60px;
}
.why-choose-sixth-section__single-slide:nth-child(even){
	padding-right: 60px;
}
.why-choose-sixth-section__statistics{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;	
}
.why-choose-sixth-section__average,
.why-choose-sixth-section__statistics-total{
	padding-right: 100px;
}
.why-choose-sixth-section__average-stars{
	margin-bottom: 15px;
}
.why-choose-sixth-section .fa-star {
    color: #00C55B;
    opacity: 0.3;
    font-size: 16px;
}
.why-choose-sixth-section .fa-star.checked {
    opacity: 1;
}
.why-choose-sixth-section__average-number{
	color: #41C167;
	font-family: "Gotham Pro Bold";
	font-size: 36px;
	letter-spacing: 0;
	line-height: 22px;
}
.why-choose-sixth-section__statistics-title{
	color: #99A5B7;
	font-family: "Gotham Pro Medium";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
	margin-bottom: 15px;
}
.why-choose-sixth-section__statistics-text{
	font-family: "Gotham Pro Bold";
	font-size: 36px;
	letter-spacing: 0;
	line-height: 22px;
}
.why-choose-sixth-section__slider-navigation .slick-prev,
.why-choose-sixth-section__slider-navigation .slick-next{
	top:10px;
}
.why-choose-sixth-section__single-slide-rating{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 24px;
}
.why-choose-sixth-section__photo{
	margin-right: 15px;
}
.why-choose-sixth-section__name{
	color: #2E2E30;
	font-family: "Gotham Pro Medium";
	font-size: 12px;
	letter-spacing: 0;
	line-height: 24px;
}
.why-choose-sixth-section__single-slide-title{
	color: #2E2E30;
	font-family: "Gotham Pro Bold";
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 6px;
	text-transform: uppercase;
}
.why-choose-sixth-section__single-slide-text{
	color: #2E2E30;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
	margin-bottom: 30px;
}
.why-choose-sixth-section__single-slide-date{
	color: #2E2E30;
	opacity: 0.3;
	font-family: "Gotham Pro Medium";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 24px;
}
.fancybox-button.fancybox-button--play,
.fancybox-button.fancybox-button--thumbs{display: none;}
.fancybox-button.fancybox-button--close,
.fancybox-button.fancybox-button--arrow_right,
.fancybox-button.fancybox-button--arrow_left{
	background:transparent;
	color: #fff;
}
.fancybox-button.fancybox-button--close{
	top:34px;
}
.fancybox-button.fancybox-button--close:before{
	content: 'Close';
	position: absolute;
	color: #fff;
    left: -35px;
	font-family: "Gotham Pro Medium";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 24px;
}
.fancybox-button.fancybox-button--arrow_right svg,
.fancybox-button.fancybox-button--arrow_left svg{
	width: 16px;
	height: 16px;
}
.fancybox-button[disabled] #fancybox-button-svg--arrow_right,
.fancybox-button[disabled] #fancybox-button-svg--arrow_left{
	fill:#888;
}

/*responsive*/
.why-choose-first-section__column-image-mobile,
.why-choose-fourth-section__link-mobile,
.why-choose-sixth-section__slider-navigation-mobile{
	display: none;
}

.why-choose-first-section__mob-img {
	display: none;
}


.why-choose__remodal .remodal-close {
	right: 0;
	left: initial;
	top: 20px;
	z-index: 1000000;
	color: #fff;
	font-family: 'Gotham Pro Medium';
	font-size: 14px;
	line-height: 13px;
	padding: 20px 30px;
	width: initial;
	height: initial;
	right: -67px;
}

.why-choose__video-slider video {
	width: 640px;
	height: 480px;
	max-width: calc(100% - 20px);
	max-height: calc(100% - 20px);
}

.why-choose-page .remodal {
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	background: transparent;
	padding-top: 0;
	padding-bottom: 0;
}

.why-choose__video-slider-wrapper {
	height: 100%;
	max-width: 100%;
	width: 700px;
	margin: auto;
	position: relative;
	top: calc((100% - 300px)/2);
	left: -10px;
}


.why-choose-page .remodal-wrapper {
	overflow: hidden;
	padding: 0;
}

.why-choose-page .remodal-close:before {
	right: -7px;
	left: initial;
	top: 9px;
}

.why-choose__video-slider .slick-disabled {
	pointer-events: none;
}

.why-choose__video-slider .slick-arrow {
	background: transparent;
}

.why-choose__video-slider .slick-prev {
	left: -75px;
}

.why-choose__video-slider .slick-next {
	right: -75px;
}

.why-choose__video-slider .slick-prev:before {
	content: url(../img/arrow-left-white.svg);
}

.why-choose__video-slider .slick-next:before {
	content: url(../img/arrow-right-white.svg);
}

.why-choose__video-slider video {
	max-height: calc(100% - 100px) !important;
}

.why-choose__video-slider-wrapper .remodal-close-mob {
	display: none;
}

@media(max-width: 1100px) {

	.why-choose__remodal .remodal-close {
		right: -35px;
	}
	.why-choose__video-slider .slick-prev {
		left: -25px;
	}
	.why-choose__video-slider .slick-next {
    right: -42px;
	}

	.why-choose-first-section {
		position: relative;
	}
	.why-choose-first-section__image-wrapper {
    position: static;
	}
	.why-choose-first-section__image-wrapper img {
    position: absolute;
    right: 0;
		bottom: 0;
		width: 300px;
	}
	.why-choose-second-section__single-comparison-title{
		font-size: 13px;
	}
	.why-choose-second-section__single-comparison-link {
    	font-size: 11px;
	}
	.why-choose-third-section .why-choose-third-section-wrapper{
		padding: 30px;
	}
	.why-choose-fourth-section__single-news,
	.why-choose-sixth-section__single-slide{
		max-width: 380px;
	}
}

@media(max-width: 812px) {
	.why-choose__video-slider iframe {
		max-width: calc(100% - 150px); 
	}
	.why-choose-third-section{
    	padding: 0 20px;
	}
	.why-choose-sixth-section__average, .why-choose-sixth-section__statistics-total {
	    padding-right: 50px;
	}
	.why-choose-second-section__single-comparison{
		padding: 18px 10px;
	}
}

@media(max-width: 767px) {
	.why-choose-sixth-section__title {
		padding-left: 20px;
		margin-bottom: 26px;
	}
	.why-choose-second-section__single-comparison-title {
		text-transform: none;
	}
	.why-choose-fourth-section__news-location {
		font-size: 12px;
	}
	.why-choose-fourth-section__news-date {
		font-size: 12px;
	}
	.why-choose-third-section__column-content {
		font-size: 12px;
		line-height: 16.1px;
	}
	.why-choose-first-text {
		font-size: 13px;
    line-height: 22px;
	}
	
	.why-choose-second-section__column-blog {
		max-width: 100%;
	}
	.why-choose-first-section__mob-img {
    display: block;
    margin-left: auto;
    position: absolute;
    bottom: 0;
		right: 0;
		z-index: 1;
	}
	.why-choose-first-section__column-image-desktop,
	.why-choose-fourth-section__link-desktop,
	.why-choose-sixth-section__slider-navigation-desktop{
		display: none;
	}
	.why-choose-first-section__column-image-mobile{
		display: block;
		max-height: 275px;
		overflow: hidden;
		position: relative;
	}
	.why-choose-first-section__column-image-mobile img{
		max-width: 214px;
		margin: 0 auto;
	}
	.why-choose-first-section{
		padding: 40px 0 290px 0;
	}
	.why-choose-first-section__row{
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.why-choose-first-section__column-text {
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    z-index: 3;
	}
	.why-choose-first-section__title{
		font-size: 24px;
		letter-spacing: -0.5px;
		line-height: 30px;
	}
	.why-choose-first-section__partners {
		max-width: 340px;
		margin: 40px 0 0 0;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.why-choose-first-section__partners img {
    	margin-right: 0;
	}
	.why-choose-first-section__blure{
		width: 100%;
		height: 15px;
		background: #E1DFE8;
		position: absolute;
		bottom: -5px;
		filter: blur(5px);
		-webkit-filter: blur(5px);
	}
	.why-choose-second-section__title,
	.why-choose-third-section__title,
	.why-choose-fourth-section__title,
	.why-choose-fifth-section__title,
	.why-choose-sixth-section__title{
		font-size: 24px;
		line-height: 24px;
	}
	.why-choose-second-section {
	    padding: 60px 0 70px 0;
	}
	.why-choose-second-section__row{
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.why-choose-second-section__column {
		width: 100%;
		margin: 0 auto;
	}
	.why-choose-second-section__column-comparison-inner-wrapper p{
		line-height: 20px;
		padding: 0;
		font-size: 14px;
		margin-bottom: 30px;
	}
	.why-choose-second-section__column.why-choose-second-section__column-comparison .why-choose-second-section__title {
	    margin-bottom: 15px;
	    padding-left: 0;
	}
	.why-choose-second-section__column-comparison-inner-wrapper {
	    border-radius: unset;
	    background-color: transparent;
	    padding: 0;
	}
	.why-choose-second-section__single-comparison{
		border-radius: 4px;
		background-color: #F4F8FC;
		padding: 20px;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		margin-bottom: 10px;
	}
	.why-choose-second-section__single-comparison-title{
		font-size: 18px;
		margin-bottom: 5px;
	}
	.why-choose-second-section__single-comparison-link{
		font-size: 12px;
		line-height: 18px;
		font-family: "Gotham Pro Regular";
		opacity: .6;
	}
	.why-choose-second-section__column-blog{
		padding-top: 62px;
	}
	.why-choose-second-section__column.why-choose-second-section__column-blog .why-choose-second-section__title{
		margin-bottom: 25px;
	}
	.why-choose-second-section__slider-navigation,
	.why-choose-fourth-section__slider-navigation,
	.why-choose-fifth-section__slider-navigation{
		margin-right: 0;
	}
	.why-choose-second-section__blog-single-slide{
		max-width: 300px;
		/* min-width: 300px; */

		margin-right: 10px;
	}
	.why-choose-second-section__blog-slider{
		background-color: transparent;
	}
	.why-choose-second-section__blog-single-slide img {
		width: 100%;
		max-width: 300px;
		height: 200px;
		object-fit: cover;
		object-position: left;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.why-choose-second-section__blog-single-slide-main-info{
		background-color: #F4F8FC;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		padding: 20px 20px 15px 20px;
	}
	.why-choose-second-section__blog-single-slide-title{
		margin-bottom: 10px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-transform: none;
		color: #2E2E30;
		font-size: 16px;
		line-height: 24px;
	}
	.why-choose-second-section__blog-single-slide{
		height: 376px;
	}
	.why-choose-second-section__blog-single-slide-excerpt{
		color: #9BA5B5;
		font-size: 12px;
		line-height: 16px;
	}
	.why-choose-second-section__blog-single-slide-meta-date {
		font-size: 12px;
		line-height: 24px;
	}
	.why-choose-second-section__blog-single-slide-meta-autor {
		font-size: 12px;
		line-height: 24px;
	}
	.why-choose-second-section__blog-single-slide-meta {
    	bottom: 15px;
	}
	.why-choose-third-section .why-choose-third-section-wrapper {
    	padding:40px 30px 0 30px;
	}
	.why-choose-third-section .why-choose-third-section__title {
	    line-height: 28px;
	    margin: 0 auto;
	    margin-bottom: 32px;
	    width: 100%;
	    max-width: 480px;
	    
	}
	.why-choose-third-section {
	    padding: 0;
	}
	.why-choose-third-section__row{
		-webkit-flex-direction: column;
		flex-direction: column;		
	}
	.why-choose-third-section__column {
	    width: 100%;
	    max-width: 480px;
	    margin: 0 auto;
	    padding-bottom: 50px;
	}
	.why-choose-third-section__column-title{
		font-size: 18px;
		letter-spacing: -0.34px;
		margin-bottom: 15px;
		text-transform: none;
	}
	.why-choose-third-section .why-choose-third-section-wrapper{margin-bottom: 68px;}
	.why-choose-fourth-section {
	    margin-bottom: 70px;
	}
	.why-choose-fourth-section__link-mobile{
		display: block;
		max-width: 335px;
		margin: 0 auto;
		margin-top: 32px;
		border-radius: 4px;
  		background-color: #FF5C48;
  		color: #FFFFFF;
		font-family: "Gotham Pro Bold";
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0;
		line-height: 50px;
		text-align: center;
	}
	.why-choose-fourth-section__title-row{
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	.why-choose-fourth-section .why-choose-fourth-section__title {
    	padding-left: 20px;
	}
	.why-choose-fourth-section__news-slider{
		max-width: 100%;
		margin: 0 auto;
	}
	.why-choose-fourth-section__single-news{
		width: 100%;
		max-width: 315px;
		margin-right: 10px;
		padding: 22px 20px;
	}
	.why-choose-fourth-section__news-title{
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 20px;
		font-family: "Gotham Pro Medium";
	}
	.why-choose-fourth-section__news-link{
		bottom: 22px;
	}
	.why-choose-fifth-section {
	    padding-bottom: 70px;
	}
	.why-choose-fifth-section__title-row{
		max-width: 100%;
		margin:0 auto;
		margin-bottom: 21px;
	}
	.why-choose-fifth-section__title {
    	padding-left: 20px;
			max-width: 227px;
			line-height: 28px;
	}
	.why-choose-fifth-section__slider{
		max-width: 100%;
		margin:0 auto;
	}
	.why-choose-fifth-section__single-slide{
		width: 50%;
		max-width: 150px;
		height: 268px;
	}
	.why-choose-sixth-section {
    padding-bottom: 60px;
    max-width: 480px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 60px;
	}
	.why-choose-sixth-section .main-container{
    	padding: 0;
	}
	.why-choose-sixth-section .slick-slider .slick-list{
		margin-right: 0;
	}
	.why-choose-sixth-section__row{
    padding: 29px 23px;
	}
	.why-choose-sixth-section__reviews{position: relative; }
	.why-choose-sixth-section__statistics{
		-webkit-flex-direction: column;
		flex-direction: column;	
		width: 100%;
	}
	.why-choose-sixth-section__average,
	.why-choose-sixth-section__statistics-total,
	.why-choose-sixth-section__statistics-order{
		padding-right: 0;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
	}
	.why-choose-sixth-section__single-slide {
	    padding: 25px 20px 30px 30px!important;
	    max-width: 100%;
			position: relative;
			margin: 0;
	}
	.why-choose-sixth-section__slider-navigation-mobile{
		display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 37px;
    right: 30px;
    z-index: 1;
	}
	.why-choose-sixth-section__average-number{
		color: #00C55B;
		font-family: "Gotham Pro Medium";
		font-size: 20px;
		text-align: right;
	}
	.why-choose-sixth-section__statistics-text{
		font-family: "Gotham Pro Medium";
		font-size: 20px;
		text-align: right;
	}
	.why-choose-sixth-section__average-stars {
	    margin-bottom: 0;
	}
	.why-choose-sixth-section__statistics-title{
		margin-bottom: 0;
		font-family: "Gotham Pro Regular";
	}
	.why-choose-sixth-section__average,
	.why-choose-sixth-section__statistics-total{
		margin-bottom: 20px;
	}
	.why-choose-sixth-section__single-slide-rating{
		margin-bottom: 28px;
	}
	.why-choose-sixth-section__single-slide-title{
		margin-bottom: 12px;
		text-transform: none;
	}
	.why-choose-sixth-section__single-slide-text{
		line-height: 20px;
		margin-bottom: 15px;
	}
	/* .why-choose-sixth-section__single-slide-date{
		position: absolute;
		bottom: 30px;
	} */
}

@media(max-width: 500px) {
	.why-choose__video-slider iframe {
		max-width: calc(100% - 70px); 
	}
	.why-choose__video-slider-wrapper .remodal-close-desk {
		display: none;
	}
	.why-choose__video-slider-wrapper .remodal-close-mob {
		display: block;
		top: 0;
	}
	.why-choose-second-section__single-comparison{
		border-radius: 4px;
		background-color: #F4F8FC;
		padding: 20px;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 10px;
	}
}
@media(max-width: 350px){
	.why-choose-second-section__single-comparison{padding: 15px;}
	.why-choose-second-section__single-comparison-title {font-size: 16px;}
	.why-choose-second-section__blog-single-slide,
	.why-choose-fourth-section__single-news {max-width: 270px;}
}

@media(max-height: 550px) {
	.why-choose__video-slider video {
		height: 300px;
	}

	.why-choose__video-slider-wrapper {
		top: calc((100% - 300px)/2);
	}
}


.why-choose-second-section__slider-navigation .slick-prev.slick-disabled:before,
.why-choose-fourth-section__slider-navigation .slick-prev.slick-disabled:before,
.why-choose-fifth-section__slider-navigation .slick-prev.slick-disabled:before,
.why-choose-sixth-section__slider-navigation .slick-prev.slick-disabled:before {
	content: url(../img/arrow-left-black.svg) !important;
}


.why-choose-second-section__slider-navigation .slick-next.slick-disabled:before,
.why-choose-fourth-section__slider-navigation .slick-next.slick-disabled:before,
.why-choose-fifth-section__slider-navigation .slick-next.slick-disabled:before,
.why-choose-sixth-section__slider-navigation .slick-next.slick-disabled:before {
	content: url(../img/arrow-right-black.svg) !important;
}

.why-choose-second-section__arrows-wrapper {
	position: relative;
	width: 76px;
	bottom: 12px;
	right: 13px;
}

.why-choose-second-section__arrows-wrapper .slick-next {
	right: 0;
}

.why-choose-second-section__arrows-wrapper .slick-next:before {
	content: url(../img/arrow-right-black.svg);
}
.why-choose-second-section__arrows-wrapper .slick-prev:before {
	content: url(../img/arrow-left-black.svg);
}

.why-choose-second-section__arrows-wrapper .slick-arrow {
	background: transparent;
}